{% extends 'base_cg_pw.html' %}

{% load static %}
{% load i18n %}

{% block head %}
    <title>{% trans 'Altere sua senha no VoxStation' %}</title>
    <link rel="stylesheet" href="{% static 'account/style_cg_password.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}" type="text/css"/>
    <script src="{% static 'resources/bootstrap-4/js/bootstrap-modals.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'account/js/change_password.js' %}"></script>
{% endblock %}

{% block body %}
<div class="modal fade" id="modal-password" data-keyboard="false" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <center><h2 class="modal-title">{% trans 'Altere sua senha' %}</h2></center>
      </div>
      <form method="post">{% csrf_token %}
          <div class="modal-body">
              <!--Senha antiga-->
              <label class="has-float-label">
                  <input type="password" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}"
                         maxlength="32" placeholder="{{ form.old_password.label }}"
                         {% if not old_password %} value="" {% else %} value="{{ old_password }}" {% endif %} required=""/>
                  <span id="old_password">{{ form.old_password.label }}</span>
              </label>
              {% if form.errors.old_password %}
                <strong id="error-old_password" class="errors">{{ form.errors.old_password }}</strong>
              {% endif %}

              <!--Nova senha-->
              <label class="has-float-label">
                  <input type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}"
                         maxlength="32" placeholder="{% trans 'Nova senha' %}"
                         {% if not new_password1 %} value="" {% else %} value="{{ new_password1 }}" {% endif %} required=""/>
                  <span id="new_password1">{% trans 'Nova senha' %}</span>
              </label>
              {% if form.errors.new_password1 %}
                <strong id="error-new_password1" class="errors">{{ form.errors.new_password1 }}</strong>
              {% endif %}

              <!--Confirmação de senha-->
              <label class="has-float-label">
                  <input type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}"
                         maxlength="32" placeholder="{{ form.new_password2.label }}"
                         {% if not new_password2 %} value="" {% else %} value="{{ new_password2 }}" {% endif %} required=""/>
                  <span id="new_password2">{{ form.new_password2.label }}</span>
              </label>
              {% if form.errors.new_password2 %}
                <strong id="error-new_password2" class="errors">{{ form.errors.new_password2 }}</strong>
              {% endif %}
          </div>
          <div class="modal-footer">
              <a class="btn btn-default btn-cancel" href="{% url 'account:edit_profile' %}">
                  <strong class="mystrong">{% trans 'Cancelar' %}</strong></a>
              <button class="btn btn-add btn-save" type="submit">
                  <strong class="save-strong">{% trans 'Salvar' %}</strong></button>
          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}