{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head %}
    <title>{% trans 'Inicie sua sessão no VoxStation' %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'account/style_login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'account/mobile/style_login.css' %}" />
    <script src="{% static 'account/js/login.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="loginBox" id="loginBox">
        <img class="avatar" src="/static/images/default-user.png"/>
        <h2>{% trans 'Inicie sua sessão' %}</h2>
        <form method="post">{% csrf_token %}
            {% for message in messages %}
            <div id="alert-error" class="alert alert-danger fade alert-dismissible" role="alert">
                {{ message }}
            </div>
            {% endfor %}

            <br/>
            <label class="has-float-label">
                <input type="text" name="{{ form.query.name }}" id="{{ form.query.id_for_label }}" maxlength="50" placeholder="{% trans 'Nome de Usuário ou Email' %}" required=""/>
                <span>{% trans 'Nome de Usuário ou Email' %}</span>
            </label>

            <label class="has-float-label">
            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" maxlength="32" placeholder="{% trans 'Senha' %}" required=""/>
                <span>{% trans 'Senha' %}</span>
            <h5 class="forgot-pw"><a href="#">{% trans 'Esqueceu?' %}</a></h5>
            </label>

            <center><button class="btn-add btn-log" type="submit"><strong>{% trans 'Entrar' %}</strong></button></center><br/>
            <p><strong>{% trans 'Ou' %}</strong></p>
        </form>
        <form action="{% url 'social:begin' 'google-oauth2' %}" class="form-google">
            <input type="submit" class="btn-google" value="{% trans 'Entrar com o Google' %}">
            <img class="logo-google" src="/static/images/g-logo.png"/>
        </form>
    </div>
        <div class="account-callout">
            <center><h5>{% trans 'Não tem uma conta?' %} <a href="{% url 'account:sign_up' %}">{% trans 'Crie a sua aqui!' %}</a></h5></center>
        </div>
{% endblock %}
