{% extends 'base2.html' %}

{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>Crie um canal no VoxStation</title>
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'account/style_new_channel.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'account/mobile/style_new_channel.css' %}" type="text/css"/>
    <script src="{% static 'account/js/new_channel.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="newChannelBox">
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="capa">
                <div class="buttons-capa">
                    <label for="fundo" class="btn btn-default btn-capa" id="btn-capa">
                        <input type="file" name="{{ form.capa.name }}" id="{{ form.capa.id_for_label }}" accept="image/*">
                        <strong>Editar fundo</strong></label>

                    <!--Adicionar uma breve explicação do áudio de fundo dps-->
                    <label for="audio" class="btn btn-default btn-capa" id="btn-audio">
                        <input type="file" name="{{ form.audio_fundo.name }}" id="{{ form.audio_fundo.id_for_label }}" accept="audio/*">
                        <strong>Áudio de fundo</strong></label>

                </div>
                <img src="#" id="capa" class="fundo">
            </div>

            <br/>
            <div class="content">
                <div class="newChannelBox header">
                    <h2>{% trans 'Crie seu canal' %}</h2>
                </div>
                <figure class="fig-foto">
                    <label for="foto-canal">
                        <figure class="fig-fade">
                            {% if not user.img_perfil %}
                                <br/><img class="foto" src="/static/images/default-user.png" id="foto" alt="foto do canal"/>
                            {% else %}
                                <br/><img class="foto" src="{{ user.img_perfil.url }}" id="foto_perfil" alt="foto do canal"/>
                            {% endif %}
                            <figcaption class="icon" id="icon">
                                <img class="camera" src="/static/images/camera.png" alt="icone de câmera">
                            </figcaption>
                        </figure>
                    </label>
                    <input type="file" name="{{ form.foto_canal.name }}" id="{{ form.foto_canal.id_for_label }}" accept="image/*">
                </figure>

                <div class="campos">
                    <label class="has-float-label">
                        <input type="text" name="{{ form.nome_canal.name }}" id="{{ form.nome_canal.id_for_label }}"  value="{{ nome_canal }}"
                               autocomplete="off" maxlength="30" placeholder="{% trans 'Nome' %}" required=""/>
                        <span id="nome">{% trans 'Nome' %}</span>
                    </label>
                    {% if error_nome_canal != "" %}
                        <strong id="error-name" class="errors">{{ error_nome_canal }}</strong>
                    {% endif %}

                    <label class="has-float-label">
                        <textarea rows="5" name="{{ form.descricao.name }}" maxlength="300" placeholder="{% trans 'Descreva seu canal' %}"
                                      id="{{ form.descricao.id_for_label }}"></textarea>
                            <span>{% trans 'Descreva seu canal' %}</span>
                    </label>
                    <div class="buttons">
                        <a class="btn btn-default btn-cancel" href="{% url 'home:index' %}">
                            <strong class="mystrong">{% trans 'Cancelar' %}</strong>
                        </a>
                        <button class="btn btn-save" type="submit" id="submitChannel" name="submitChannel">
                            <strong class="save-strong">{% trans 'Salvar' %}</strong>
                        </button>
                    </div>
                </div>
            </div>
        </form>

            </div>
{% endblock %}
