{% extends 'base2.html' %}
{% load i18n %}

{% load static %}

{% block head %}
    <title>VoxStation</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css"/>
    <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'channel/style_channel_playlists.css' %}">
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <!--Mais reproduzidos-->
            <div id="more_rep">
                <div id="carouselSliderMR-{{forloop.counter}}" class="carousel slide ml-4 mt-5 mais_rep" data-ride="carousel">
                <h2 class="headerChannel mb-4">
                    <a href="#"> <!--Clicar para ver a lista completa-->
                        <img src="/static/resources/icones/play.png" class="icon-section"
                         alt="mais reproduzidos">Mais reproduzidos
                    </a>
                </h2>
                <div class="carousel-inner mais-rep">
                    <div class="carousel-item active">
                        <div class="row">
                        {% for audio_mr1 in mais_reproduzidos|slice:":4" %}
                            <div class="col-md-3" id="mr1-{{forloop.counter}}" onmouseover="activeNum(this.id)"
                                 onmouseleave="changeBgcNum(this.id)">
                                <div class="position-audio">#0</div>
                                <div class="card" style="border-radius: 0 0 .25rem .25rem;">
                                    <figure class="fig-capa-audio" id="figMR1-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                        <img src="{{audio_mr1.capa.url}}" style="border-radius: 0;" class="card-img-top" alt="">
                                        <div class="duration-audio">{{audio_mr1.duracao}}</div>
                                        <figcaption class="fc-capa-audio">
                                            <center>
                                                <a href="{% url 'channel:player_view' audio_mr1.id %}">
                                                    <img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                                <div class="dropdown more">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                    <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                        {% if logado %}
                                                        <a class="dropdown-item addplay" data-toggle="modal" data-target="#addPlaylist"  url_="{% url 'channel:playlist_add_view' %}"  aud_atre="{{audio_mr1.id}}">Adicionar a playlist</a>
                                                        {% endif %}
                                                    </div>
                                                    </a>
                                                </div>
                                            </center>
                                        </figcaption>
                                    </figure>

                                    <div class="card-body">
                                        <a href="{% url 'channel:player_view' audio_mr1.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audio_mr1.titulo}}</h4></a>
                                        <div class="card-text">
                                            <p class="descript-thumb">{{audio_mr1.canal_proprietario.nome_canal}}</p>
                                            <p class="descript-thumb"><img src="/static/resources/icones/view.png" class="icon-view"/>{{audio_mr1.reproducoes}}</p>
                                            <p class="descript-thumb">
                                                {{audio_mr1.data_publicacao|date:"d/m/y"}} às {{audio_mr1.data_publicacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            {% for audio_mr2 in mais_reproduzidos|slice:"4:8" %}
                            <div class="col-md-3" id="mr2-{{forloop.counter}}" onmouseover="activeNum(this.id)"
                                 onmouseleave="changeBgcNum(this.id)">
                                <div class="position-audio">#1</div>
                                <div class="card" style="border-radius: 0 0 .25rem .25rem;">
                                    <figure class="fig-capa-audio" id="figMR2-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                        <img src="{{audio_mr2.capa.url}}" style="border-radius: 0;" class="card-img-top" alt="">
                                        <div class="duration-audio">{{audio_mr2.duracao}}</div>
                                        <figcaption class="fc-capa-audio">
                                            <center>
                                                <a href="{% url 'channel:player_view' audio_mr2.id %}"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                                <div class="dropdown more">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                    <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                        <a class="dropdown-item addplay" url_="{% url 'channel:playlist_add_view' %}"  data-toggle="modal" data-target="#addPlaylist" aud_atre="{{audio_mr2.id}}">Adicionar a playlist</a>
                                                    </div>
                                                    </a>
                                                </div>
                                            </center>
                                        </figcaption>
                                    </figure>
                                    <div class="card-body">
                                        <a href="{% url 'channel:player_view' audio_mr2.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audio_mr2.titulo}}</h4></a>
                                        <div class="card-text">
                                            <p class="descript-thumb">{{audio_mr2.canal_proprietario.nome_canal}}</p>
                                            <p class="descript-thumb"><img src="/static/resources/icones/view.png" class="icon-view"/>{{audio_mr2.reproducoes}}</p>
                                            <p class="descript-thumb">
                                                {{audio_mr2.data_publicacao|date:"d/m/y"}} às {{audio_mr2.data_publicacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <a href="#carouselSliderMR-{{forloop.counter}}" class="carousel-control-prev" role="button" data-slide="prev">
                    <img src="/static/resources/icones/prev.png" class="slideIcos" alt="">
                </a>
                <a href="#carouselSliderMR-{{forloop.counter}}" class="carousel-control-next" role="button" data-slide="next">
                    <img src="/static/resources/icones/next.png" class="slideIcos" alt="">
                </a>
            </div>
            </div>

            <!--Melhor avaliados-->
            <div id="best_av">
                <div id="carouselSliderMA-{{forloop.counter}}" class="carousel slide ml-4 mt-5 melhor_av" data-ride="carousel">
                <h2 class="headerChannel mb-4">
                    <a href="#"> <!--Clicar para ver a lista completa-->
                        <img src="/static/resources/icones/favorites_white.png" class="icon-section"
                         alt="melhor avaliados">Melhor avaliados
                    </a>
                </h2>
                <div class="carousel-inner mais-rep">
                    <div class="carousel-item active">
                        <div class="row">
                        {% for audio_ma1 in melhor_avaliados|slice:":4" %}
                            <div class="col-md-3" id="ma1-{{forloop.counter}}" onmouseover="activeNum(this.id)"
                                 onmouseleave="changeBgcNum(this.id)">
                                <div class="position-audio">#0</div>
                                <div class="card" style="border-radius: 0 0 .25rem .25rem;">
                                    <figure class="fig-capa-audio" id="figMA1-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                        <img src="{{audio_ma1.capa.url}}" style="border-radius: 0;" class="card-img-top" alt="">
                                        <div class="duration-audio">{{audio_ma1.duracao}}</div>
                                        <figcaption class="fc-capa-audio">
                                            <center>
                                                <a href="{% url 'channel:player_view' audio_ma1.id %}">
                                                    <img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                                <div class="dropdown more">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                    <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                        <a class="dropdown-item addplay" data-toggle="modal" data-target="#addPlaylist"  url_="{% url 'channel:playlist_add_view' %}"  aud_atre="{{audio_ma1.id}}">Adicionar a playlist</a>
                                                    </div>
                                                    </a>
                                                </div>
                                            </center>
                                        </figcaption>
                                    </figure>

                                    <div class="card-body">
                                        <a href="{% url 'channel:player_view' audio_ma1.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audio_ma1.titulo}}</h4></a>
                                        <div class="card-text">
                                            <p class="descript-thumb">{{audio_ma1.canal_proprietario.nome_canal}}</p>
                                            <p class="descript-thumb"><img src="/static/resources/icones/view.png" class="icon-view"/>{{audio_ma1.reproducoes}}</p>
                                            <p class="descript-thumb">
                                                {{audio_ma1.data_publicacao|date:"d/m/y"}} às {{audio_ma1.data_publicacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            {% for audio_ma2 in melhor_avaliados|slice:"4:8" %}
                            <div class="col-md-3" id="ma2-{{forloop.counter}}" onmouseover="activeNum(this.id)"
                                 onmouseleave="changeBgcNum(this.id)">
                                <div class="position-audio">#1</div>
                                <div class="card" style="border-radius: 0 0 .25rem .25rem;">
                                    <figure class="fig-capa-audio" id="figMA2-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                        <img src="{{audio_ma2.capa.url}}" style="border-radius: 0;" class="card-img-top" alt="">
                                        <div class="duration-audio">{{audio_ma2.duracao}}</div>
                                        <figcaption class="fc-capa-audio">
                                            <center>
                                                <a href="{% url 'channel:player_view' audio_ma2.id %}"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                                <div class="dropdown more">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                    <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                        <a class="dropdown-item addplay" url_="{% url 'channel:playlist_add_view' %}"  data-toggle="modal" data-target="#addPlaylist" aud_atre="{{audio_ma2.id}}">Adicionar a playlist</a>
                                                    </div>
                                                    </a>
                                                </div>
                                            </center>
                                        </figcaption>
                                    </figure>
                                    <div class="card-body">
                                        <a href="{% url 'channel:player_view' audio_ma2.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audio_ma2.titulo}}</h4></a>
                                        <div class="card-text">
                                            <p class="descript-thumb">{{audio_ma2.canal_proprietario.nome_canal}}</p>
                                            <p class="descript-thumb"><img src="/static/resources/icones/view.png" class="icon-view"/>{{audio_ma2.reproducoes}}</p>
                                            <p class="descript-thumb">
                                                {{audio_ma2.data_publicacao|date:"d/m/y"}} às {{audio_ma2.data_publicacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <a href="#carouselSliderMA-{{forloop.counter}}" class="carousel-control-prev" role="button" data-slide="prev">
                    <img src="/static/resources/icones/prev.png" class="slideIcos" alt="">
                </a>
                <a href="#carouselSliderMA-{{forloop.counter}}" class="carousel-control-next" role="button" data-slide="next">
                    <img src="/static/resources/icones/next.png" class="slideIcos" alt="">
                </a>
            </div>
            </div>

            <!--Playlists populares-->
            <div id="carouselSliderPP-{{forloop.counter}}" class="carousel slide ml-4 mt-5" data-ride="carousel">
                <h2 class="headerChannel">
                    <a href="#"> <!--Clicar para ver a lista completa-->
                        <div class="icon-section icon-section-pl-pop"></div>Playlists populares
                    </a>
                </h2>
                <div class="carousel-inner mais-rep play-pop">
                    <div class="carousel-item active">
                        <div class="row mt-4 row-pl">
                            {% for playp1 in playlists_pop|slice:":2" %}
                            <div class="col-md-6 col-playlist" style="padding-left: 0 !important;" id="{{playp1.id}}">
                                <div class="card">
                                    <a href="{% url 'channel:playlist_play_view' playp1.id playp1.audios.first.id %}">
                                        <figure class="fig-capa-audio">
                                            <img src="{{playp1.capa.url}}" class="card-img-top pl-capa" alt="capa de {{playp1.nome}}">
                                            <figcaption class="fc-capa-audio fig-cap-pl-home">
                                                <center>
                                                    <img src="/static/resources/icones/play.png" class="icon-play play-pl"/>
                                                </center>
                                            </figcaption>
                                        </figure>
                                    </a>

                                    <div class="card-body">
                                        <a href="{% url 'channel:playlist_play_view' playp1.id playp1.audios.first.id %}"
                                           class="audio-link"><h4 class="card-title audio-titul">{{playp1.nome}}</h4></a>
                                        <div class="card-text">
                                            {% if not playp1.canal %}
                                                <p class="descript-thumb">{{playp1.proprietario.username}}</p>
                                            {% else %}
                                                <p class="descript-thumb">{{playp1.canal.nome_canal}}</p>
                                            {% endif %}
                                            <p class="descript-thumb">
                                                <img src="/static/resources/icones/disc.ico" class="icon-view" rel="tooltip"
                                                     data-toggle="tooltip" data-placement="bottom" title="Áudios"/>
                                                {{playp1.audios.count}}</p>
                                            <p class="descript-thumb last-update"><i class="fas fa-clock" rel="tooltip"
                                                                                     data-toggle="tooltip" data-placement="bottom"
                                                                                     title="Última atualização"></i>
                                                {{playp1.ultima_atualizacao|date:"d/m/y"}} às {{playp1.ultima_atualizacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 playlist">
                                    <ul class="audio-list">
                                        {% for audioplay1 in playp1.audios.all|slice:":4" %}
                                        <li class="audio">
                                            <strong class="time">{{ audioplay1.duracao }}</strong>
                                            <a href="{% url 'channel:playlist_play_view' playp1.id audioplay1.id %}"
                                               class="titulo">{{audioplay1.titulo}}</a>
                                        </li>
                                        {% endfor %}
                                        <li class="playlist-more">
                                            <center><a href="{%url 'channel:playlist_all_view' playp1.id%}"
                                                       class="btn playlist-link ver-mais-pl">Ver mais</a></center>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row mt-4 row-pl">
                            {% for playp2 in playlists_pop|slice:"2:4" %}
                            <div class="col-md-6 col-playlist" id="{{playp2.id}}" style="padding-left: 0 !important;">
                                <div class="card">
                                    <a href="{% url 'channel:playlist_play_view' playp2.id playp2.audios.first.id %}">
                                        <figure class="fig-capa-audio">
                                            <img src="{{playp2.capa.url}}" class="card-img-top pl-capa" alt="capa de {{playp2.nome}}">
                                            <figcaption class="fc-capa-audio fig-cap-pl-home">
                                                <center>
                                                    <img src="/static/resources/icones/play.png" class="icon-play play-pl"/>
                                                </center>
                                            </figcaption>
                                        </figure>
                                    </a>

                                    <div class="card-body">
                                        <a href="{% url 'channel:playlist_play_view' playp2.id playp2.audios.first.id %}"
                                           class="audio-link"><h4 class="card-title audio-titul">{{playp2.nome}}</h4></a>
                                        <div class="card-text">
                                            {% if not playp2.canal %}
                                                <p class="descript-thumb">{{playp2.proprietario.username}}</p>
                                            {% else %}
                                                <p class="descript-thumb">{{playp2.canal.nome_canal}}</p>
                                            {% endif %}
                                            <p class="descript-thumb">
                                                <img src="/static/resources/icones/disc.ico" class="icon-view" rel="tooltip"
                                                     data-toggle="tooltip" data-placement="bottom" title="Áudios"/>
                                                {{playp2.audios.count}}</p>
                                            <p class="descript-thumb last-update"><i class="fas fa-clock" rel="tooltip"
                                                                                     data-toggle="tooltip" data-placement="bottom"
                                                                                     title="Última atualização"></i>
                                                {{playp2.ultima_atualizacao|date:"d/m/y"}} às {{playp2.ultima_atualizacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 playlist">
                                    <ul class="audio-list">
                                       {% for audiop2 in playp2.audios.all|slice:":4" %}
                                        <li class="audio">
                                            <strong class="time">{{ audiop2.duracao }}</strong>
                                            <a href="{% url 'channel:playlist_play_view' playp2.id audiop2.id %}"
                                               class="titulo">{{audiop2.titulo}}</a>
                                        </li>
                                        {% endfor %}
                                        <li class="playlist-more">
                                            <center><a href="{%url 'channel:playlist_all_view' playp2.id%}"
                                                       class="btn playlist-link ver-mais-pl">Ver mais</a></center>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <a href="#carouselSliderPP-{{forloop.counter}}" class="carousel-control-prev" role="button" data-slide="prev">
                    <img src="/static/resources/icones/prev.png" class="slideIcos" alt="">
                </a>
                <a href="#carouselSliderPP-{{forloop.counter}}" class="carousel-control-next" role="button" data-slide="next">
                    <img src="/static/resources/icones/next.png" class="slideIcos" alt="">
                </a>
            </div>

            {% for channel in channels %}
            <div id="carouselSlider-{{forloop.counter}}" class="carousel slide ml-4 mt-5" data-ride="carousel">
                <h2 class="headerChannel mb-4">
                    <a href="{% url 'channel:channel_view' channel.id %}">
                    <img src="{{channel.foto_canal.url}}" class="thumbnail rounded-circle ft-do-canal"
                         alt="foto do canal x">{{channel.nome_canal}}</a>
                </h2>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                        {% for f_page_audio in channel.playlist1 %}
                            <div class="col-md-3">
                                <div class="card" >
                                    <figure class="fig-capa-audio" id="fig1-{{channel.nome_canal}}-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                        <img src="{{f_page_audio.capa.url}}" class="card-img-top" alt="">
                                        <div class="duration-audio">{{f_page_audio.duracao}}</div>
                                        <figcaption class="fc-capa-audio">
                                            <center>
                                                <a href="{% url 'channel:player_view' f_page_audio.id %}">
                                                    <img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                                <div class="dropdown more">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                    <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                        <a class="dropdown-item addplay" data-toggle="modal" data-target="#addPlaylist"  url_="{% url 'channel:playlist_add_view' %}"  aud_atre="{{f_page_audio.id}}">Adicionar a playlist</a>
                                                    </div>
                                                    </a>
                                                </div>
                                            </center>
                                        </figcaption>
                                    </figure>

                                    <div class="card-body">
                                        <a href="{% url 'channel:player_view' f_page_audio.id %}" class="audio-link"><h4 class="card-title audio-titul">{{f_page_audio.titulo}}</h4></a>
                                        <div class="card-text">
                                            <p class="descript-thumb">{{channel.nome_canal}}</p>
                                            <p class="descript-thumb"><img src="/static/resources/icones/view.png" class="icon-view"/>{{f_page_audio.reproducoes}}</p>
                                            <p class="descript-thumb">
                                                {{f_page_audio.data_publicacao|date:"d/m/y"}} às {{f_page_audio.data_publicacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        </div>
                    </div>
                    {% if channel.playlist2 %}
                    <div class="carousel-item">
                        <div class="row">
                            {% for s_page_audio in channel.playlist2 %}
                            <div class="col-md-3">
                                <div class="card">
                                    <figure class="fig-capa-audio" id="fig2-{{channel.nome_canal}}-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                        <img src="{{s_page_audio.capa.url}}" class="card-img-top" alt="">
                                        <div class="duration-audio">{{s_page_audio.duracao}}</div>
                                        <figcaption class="fc-capa-audio">
                                            <center>
                                                <a href="{% url 'channel:player_view' s_page_audio.id %}"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                                <div class="dropdown more">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                    <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                        <a class="dropdown-item addplay" url_="{% url 'channel:playlist_add_view' %}"  data-toggle="modal" data-target="#addPlaylist" aud_atre="{{s_page_audio.id}}">Adicionar a playlist</a>
                                                    </div>
                                                    </a>
                                                </div>
                                            </center>
                                        </figcaption>
                                    </figure>
                                    <div class="card-body">
                                        <a href="{% url 'channel:player_view' s_page_audio.id %}" class="audio-link"><h4 class="card-title audio-titul">{{s_page_audio.titulo}}</h4></a>
                                        <div class="card-text">
                                            <p class="descript-thumb">{{channel.nome_canal}}</p>
                                            <p class="descript-thumb"><img src="/static/resources/icones/view.png" class="icon-view"/>{{s_page_audio.reproducoes}}</p>
                                            <p class="descript-thumb">
                                                {{s_page_audio.data_publicacao|date:"d/m/y"}} às {{s_page_audio.data_publicacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if channel.playlist2 %}
                <a href="#carouselSlider-{{forloop.counter}}" class="carousel-control-prev" role="button" data-slide="prev">
                    <img src="/static/resources/icones/prev.png" class="slideIcos" alt="">
                </a>
                <a href="#carouselSlider-{{forloop.counter}}" class="carousel-control-next" role="button" data-slide="next">
                    <img src="/static/resources/icones/next.png" class="slideIcos" alt="">
                </a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

{%endblock%}
