.modal-header {
    justify-content: center;
}

.modal-title {
    margin-bottom: -23px;
    line-height: 1.5;
    font-size: 24px;
}

.modal-content {
    border: hidden;
    box-shadow: 3px 3px 10px #636e72;
    left: 50%;
    transform: translate(-50%,0);
    margin: 40px 0 0;
}

.modal-footer {
    margin-bottom: -15px;
}

label {
    font-size: 16px;
    margin-bottom: 25px;
}