.modal-dialog {
    margin: 7.5rem auto 0;
}

.modal-header {
    justify-content: center;
}

.modal-title {
    margin-bottom: -23px;
    line-height: 1.5;
    font-size: 24px;
}

.modal-content {
    border: hidden;
    box-shadow: 3px 3px 10px #636e72;
    left: 50%;
    transform: translate(-50%,0);
    margin: 40px 0 0;
}

.modal-footer {
    margin-bottom: -15px;
}

label {
    font-size: 16px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 501px) and (max-width: 575px) {
    .modal-dialog {
        width: 500px;
        margin: 10.5rem auto 0;
    }
}

@media only screen and (max-width: 500px) {
    .modal-dialog {
        margin: 10.5rem auto 0;
        width: 100%;
    }
}

@media only screen and (max-width: 414px) {
    .modal-dialog {
        margin: 9.5rem auto 0;
    }
}
