body {
    font-family: Raleway;
}

.ft-do-canal {
    height: 2rem;
    width: 2rem;
    margin: 0 10px;
    background: white;
    position: relative;
    top: -2px;
}

.ver-mais-pl {
    margin-right: 1rem !important;
    width: 86.5% !important;
    bottom: 1rem !important;
}

.carousel-inner {
    height: 18rem;
}

.mais-rep {
    height: 19.5rem;
}

.icon-section {
    display: inline-block;
    background: transparent;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 10px;
    position: relative;
    top: -3px;
}

.icon-section-pl-pop {
    -webkit-mask-box-image: url(/static/resources/icones/playlists.png);
    display: inline-block;
    background-color: white;
    top: 2px;
    margin-left: 12px;
}

.position-audio {
    margin-bottom: -1px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem .25rem 0 0;
    transition: .3s;
}

.icon-play {
    display: block;
    width: 55px;
    opacity: .9;
    margin: 40px 0 13px;
}

.icon-view {
    display: inline-block;
    width: 16px;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.icon-more {
    display: block;
    width: 20px;
}

figure {
    margin: 0;
    height: 131px;
}

.headerChannel {
    background: linear-gradient(-160deg, #032854, black) !important;
    color: white;
    height: 40px;
    padding-top: 3px;
    border-radius: 4px;
}

.dropdown-menu.more {
    background: #f8f9fa;
    margin-top: 3px;
    font-size: 14px;
}

.dropdown.more {
    margin: 0;
    float: left;
}

.modal {
    top: 70px;
}

.modal-content {
    border: initial;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #2a2e2f;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000000d6;
    height: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container-fluid {
    margin-top: 100px;
    margin-bottom: 30px;
    padding-right: 50px;
}

.h2, h2 {
    font-size: 1.7rem;
}

.slideIcos {
    border-radius: 50%;
    background-color: #ffffffb8;
    width: 34px;
    box-shadow: 0px 0px 10px #636e72;
}

.slideIcos:hover {
    box-shadow: 0px 0px 10px #636e72;
}

.carousel-control-next, .carousel-control-prev {
    margin: 216px -22px 0px;
    opacity: 1;
    height: 52px;
    width: 34px;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 1;
}

.card-img-top {
    display: block;
    height: 100%;
}

.fig-capa-audio figcaption{
	opacity: 0;
	padding: 0 10px;
	position: absolute;
	background-color: rgba(0, 0, 0, .4);
	top: 0px;
	width: 100%;
	height: 47%;
	cursor: pointer;
	color: white;
    transition: .3s;
}

.fig-capa-audio:hover figcaption{
	opacity: 1;
}

.card-title {
    white-space: nowrap;
    margin-bottom: .25rem;
    height: 30px;
    overflow: hidden;
    font-size: 17px;
    text-overflow: ellipsis;
    font-weight: bold;
}

.fig-cap-pl-home {
    height: 52.5% !important;
}

@media only screen and (max-width: 1174px) {
    .fig-cap-pl-home {
        height: 46% !important;
    }
}

@media only screen and (max-width: 930px){
    .mais-rep {
        height: 20.5rem;
    }

    .fig-cap-pl-home {
        height: 40.5% !important;
    }

    .ver-mais-pl {
        width: 83.5% !important;
    }
}

@media only screen and (min-width: 835px) and (max-width: 930px) {
    .fig-cap-pl-home {
        height: 44.5% !important;
    }
}

@media only screen and (max-width: 834px) {
    .card-text {
        margin-top: -5px;
    }

    .fig-cap-pl-home {
        height: 38.5% !important;
    }

    .carousel-control-next, .carousel-control-prev {
        margin: 175px -22px 0px;
        opacity: 1;
        height: 52px;
        width: 52px;
    }

    .carousel-inner {
        height: 19rem;
    }

    .mais-rep {
        margin-bottom: 2rem;
    }

    .mt-5, .my-5 {
        margin-top: 0rem!important;
    }

    .icon-play {
        width: 30px;
    }

    p {
        height: 1.5rem;
    }

    figure {
        height: 102px;
    }

    .fig-capa-audio figcaption {
        height: 41.5%;
    }
}

@media only screen and (max-width: 767px) {
    .row {
        height: 95px;
    }

    .fig-cap-pl-home {
        height: 52% !important;
    }

    div#page-content-wrapper {
        height: 110%;
    }

    .col-md-3 {
        max-width: 50%;
    }

    .carousel-inner {
        height: 46rem;
    }

    .mais-rep {
        height: 50rem !important;
        margin-bottom: 0;
    }

    .play-pop {
        height: 43rem !important;
    }

    .icon-play {
        width: 63px;
        margin-top: 3.5rem;
        margin-bottom: 2rem;
    }

    .card {
        margin-bottom: 30px;
    }

    p {
        height: 19%;
    }

    .fig-capa-audio figcaption {
        height: 178px;
    }

    figure {
        height: 178px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin: 377px -22px 0px;
    }

    .card-text {
        margin-top: 0;
    }

    .ver-mais-pl {
        width: 89.5% !important;
    }
}

@media only screen and (max-width: 630px){
    .ver-mais-pl {
        width: 86.5% !important;
    }
}

@media only screen and (max-width: 575px) {
    div#page-content-wrapper {
        height: 260%;
    }

    .ver-mais-pl {
        width: 93.5% !important;
    }

    .fig-cap-pl-home {
        height: 57% !important;
    }

    .col-md-3 {
        max-width: 100%;
    }

    .modal {
        top: 140px;
    }

    .carousel-inner {
        height: 104rem;
    }

    .mais-rep {
        height: 112rem !important;
    }

    .play-pop {
        height: 89rem !important;
    }

    .icon-play {
        width: 75px;
        margin-top: 4.5rem;
        margin-bottom: 2.5rem;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    .container-fluid {
        margin-top: 170px;
    }

    .card {
        margin-bottom: 44px;
    }

    figure {
        height: 216px;
    }

    .fig-capa-audio figcaption {
        height: 13.5rem;
    }

    p {
        height: 15%;
    }

    .row {
        height: 130px;
    }
}

@media only screen and (max-width: 475px){
    .ver-mais-pl {
        width: 91.5% !important;
    }
}

@media only screen and (max-width: 414px) {
    .container-fluid {
        padding-right: 6%;
        margin-top: 0;
    }

    .fig-cap-pl-home {
        height: 56.5% !important;
    }

    .fig-capa-audio figcaption {
        height: 12.4rem;
    }

    div#page-content-wrapper {
        margin-top: 140px;
    }

    .carousel-inner {
        position: relative;
        right: 20px;
        width: 107%;
        height: 93rem;
        overflow: hidden;
    }

    .mais-rep {
        height: 101rem !important;
        margin: 0 !important;
    }

    .play-pop {
        height: 84rem !important;
    }

    .modal {
        top: 112px;
    }

    figure {
        height: 198px;
    }

    .headerChannel {
        padding: 6px 0 0;
        margin-top: 10px;
        margin-bottom: -5px;
        font-size: 20px;
        font-weight: bolder;
        width: 107%;
        position: relative;
        left: -20px;
        margin-right: -1.7rem !important;
    }

    img.ft-do-canal {
        height: 2rem;
        width: 2rem;
        margin-right: 5px;
        background: white;
    }

    .icon-play {
        width: 75px;
     }

    .card {
        width: 100%;
        margin-bottom: 30px;
    }

    p {
        margin-top: -4px;
    }
}

@media only screen and (max-width: 374px) {
    .headerChannel {
        margin-right: -1.8rem !important;
    }
}

@media only screen and (max-width: 475px){
    .ver-mais-pl {
        width: 90.5% !important;
    }
}