body {
    font-family: Raleway;
}

.ft-do-canal {
    height: 2rem;
    width: 2rem;
    margin: 0 10px;
    background: white;
    position: relative;
    top: -2px;
}

.icon-play {
    display: block;
    width: 55px;
    opacity: .9;
    margin: 40px 0 13px;
}

.icon-view {
    display: inline-block;
    width: 16px;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.icon-more {
    display: block;
    width: 20px;
}

figure {
    margin: 0;
    height: 131px;
}

.headerChannel {
    background: linear-gradient(-160deg, #032854, black) !important;
    color: white;
    height: 40px;
    padding-top: 3px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.dropdown-menu.more {
    background: #f8f9fa;
    margin-top: 3px;
    font-size: 14px;
}

.dropdown.more {
    margin: 0;
    float: left;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14px;
    color: #000000d6;
    height: 19px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container-fluid {
    margin-top: 115px;
    margin-bottom: 30px;
    padding-right: 50px;
}

.h2, h2 {
    font-size: 1.7rem;
}

.slideIcos {
    border-radius: 50%;
    background-color: white;
    width: 50px;
    box-shadow: 0px 0px 5px #636e72;
}

.slideIcos:hover {
    box-shadow: 0px 0px 10px #636e72;
}

.carousel-control-next, .carousel-control-prev {
    margin: 216px -22px 0px;
    opacity: 1;
    height: 52px;
    width: 52px;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
    opacity: 1;
}

.card-img-top {
    display: block;
    height: 100%;
}

.fig-capa-audio figcaption{
	opacity: 0;
	padding: 0 10px;
	position: absolute;
	background-color: rgba(0, 0, 0, .4);
	top: 0px;
	width: 100%;
	height: 46%;
	transition: opacity 1s;
	cursor: pointer;
	color: white;
}

.fig-capa-audio:hover figcaption{
	opacity: 1;
}

.card-title {
    white-space: nowrap;
    margin-bottom: 0.75rem;
    height: 30px;
    overflow: hidden;
    font-size: 22px;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 834px) {
    .card-text {
        margin-top: -5px;
    }

    .carousel-control-next, .carousel-control-prev {
        margin: 175px -22px 0px;
        opacity: 1;
        height: 52px;
        width: 52px;
    }

    .carousel-inner {
        height: 68%;
    }

    .mt-5, .my-5 {
        margin-top: 0rem!important;
    }

    .icon-play {
        width: 30px;
    }

    p {
        height: 6%;
    }

    figure {
        height: 102px;
    }

    .fig-capa-audio figcaption {
        height: 38%;
    }
}

@media only screen and (max-width: 767px) {
    .col-md-3 {
        max-width: 50%;
    }

    .carousel-inner {
        height: auto;
    }

    .icon-play {
        width: 95px;
    }

    .card {
        margin-bottom: 30px;
    }

    p {
        height: 4%;
    }

    .fig-capa-audio figcaption {
        height: 178px;
    }

    figure {
        height: 178px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin: 377px -22px 0px;
    }

    .card-text {
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .row {
        margin-top: -4px;
        height: 95px;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-3 {
        max-width: 100%;
    }

    .icon-play {
        width: 130px;
    }

    .carousel-control-prev, .carousel-control-next {
        display: none;
    }

    .container-fluid {
        margin-top: 185px;
    }

    .card {
        margin-bottom: 44px;
    }

    figure {
        height: 216px;
    }

    .fig-capa-audio figcaption {
        height: 57%;
    }

    p {
        height: 4%;
    }

    .row {
        height: 130px;
    }
}

@media only screen and (max-width: 414px) {
    .container-fluid {
        padding-right: 6%;
        margin-top: 0;
    }

    div#page-content-wrapper {
        margin-top: 140px;
    }

    .carousel-inner {
        position: relative;
        right: 20px;
        width: 107%;
        height: auto;
        overflow: hidden;
    }

    figure {
        height: 198px;
    }

    .headerChannel {
        padding: 6px 0 0;
        margin-top: 10px;
        margin-bottom: -5px;
        font-size: 20px;
        font-weight: bolder;
        width: 107%;
        position: relative;
        left: -20px;
    }

    img.ft-do-canal {
        height: 2rem;
        width: 2rem;
        margin-right: 5px;
        background: white;
    }

    .icon-play {
        width: 120px;
     }

    .card {
        width: 100%;
        margin-bottom: 30px;
    }

    p {
        margin-top: -4px;
    }
}