@font-face {
  font-family: 'Raleway';
  src: url('/static/resources/fonts/Raleway.ttf')  format("truetype"),
       local('Raleway');
}

body {
    font-family: Raleway !important;
}

div#sideFade {
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
}

.fadeActive {
    visibility: visible !important;
    opacity: .5 !important;
}

.tab {
    overflow: hidden;
    background-color: rgb(250,250,250);
    margin-top: -10px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 16px;
    transition: 0.3s;
    width: 25%;
    font-size: 22px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background: linear-gradient(-160deg, #032854, black);
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

input[type="text" i]:disabled {
    background-color: transparent;
}

#reportAudio h6 {
    text-shadow: none;
    color: black;
    font-size: .8rem !important;
    margin-top: 1rem;
}

.b-linear {
    background: linear-gradient(-160deg, #032854, black) !important;
    color: white;
}

img.channel-notific {
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    margin-top: 1px;
    border-radius: 50%;
    position: absolute;
    left: 1rem;
}

ul#notifylist {
    display: block;
    right: 0;
}

img.audio-notific {
    display: block;
    width: 4rem;
    height: 3rem;
    border-radius: 4px;
    position: absolute;
    right: 1.3rem;
}

.fa-bell {
    font-size: 1.5rem;
    top: 2px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #032854;
}

.capa i {
    color: white;
    text-shadow: 0px 0px 5px black;
}

img.icon.seguidores {
    filter: drop-shadow(0px 2px 0 black) drop-shadow(0px -1px 0 black);
}

.seguidores {
    width: 25px;
    margin-left: -6px;
    position: relative;
    left: 3px;
}

label#nome_playlist {
    height: 44px;
    margin-bottom: 15px;
}

.has-float-label input {
    width: 100%;
    font-weight: 500;
}

.has-float-label input:placeholder-shown:not(:focus)+*, .has-float-label select:placeholder-shown:not(:focus)+*, .has-float-label textarea:placeholder-shown:not(:focus)+* {
    font-size: 90% !important;
    margin-left: 5px;
    top: 0.9em !important;
}

.has-float-label input:focus, .has-float-label select:focus, .has-float-label textarea:focus {
    border-bottom: 2px solid steelblue;
}

.has-float-label>span {
    font-weight: bold;
    top: -5px !important;
    font-size: 85% !important;
    transition: 0.5s !important;
}

.modal-dialog.modal-sm.modal-dialog-centered {
    margin-top: 0;
}

.selectPlaylist {
    width: 100%;
    border: hidden;
    border-bottom: 2px solid rgba(0,0,0,.1);
    font-size: 16px;
    font-weight: 500;
    margin-top: 7px;
    margin-bottom: 19px;
}

.selectPlaylist:focus {
    outline: none;
    border-bottom: 2px solid steelblue;
}

.spanPlaylist {
    position: relative;
    font-size: 85%;
    font-weight: bold;
    transition: 0.5s;
}

.fas-playlist {
    color: black;
    font-size: 14px;
}

.fa-trash-alt {
    margin-top: .4rem;
    float: right;
}

.tooltip-inner {
    background: linear-gradient(-225deg, #032854, black);
    max-width: 100% !important;
    padding: 0.5rem 1rem !important;
}

/*Checkbox de playlist*/
.pl-label {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pl-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

i.fas.fa-bell {
    margin-top: 12px !important;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    transition: .3s;
    background-color: #ccc;
}

.pl-label:hover input ~ .checkmark {
    opacity: .5;
    background-color: #032854;
}

.pl-label input:checked ~ .checkmark {
    background-color: #032854;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.btn-add {
    border: initial;
    border-radius: 4px;
    color: white !important;
    background: linear-gradient(-160deg, #032854, black);
}

.btn-add:hover {
    background: linear-gradient(-160deg, #032854bf, black);
}

.btn-add:active {
    background: linear-gradient(-160deg, #032854bf, black) !important;
}

.pl-label input:checked ~ .checkmark:after {
    display: block;
}

.pl-label .checkmark:after {
    left: 10px;
    top: 6px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.addAudioPl {
    visibility: hidden;
    min-width: 19rem;
    max-width: 100%;
    border: hidden !important;
    border-radius: 20px !important;
    padding: 12px 27px !important;
    text-align: center;
    position: fixed !important;
    left: 50%;
    top: 35rem;
    font-size: 14px;
    font-weight: bold;
    color: white !important;
    background: linear-gradient(-160deg, #032854, black);
    opacity: 0;
    transition: visibility 0.15s, opacity 0.15s linear;
    transform: translate(-50%,0);
    z-index: 2000;
}

.modal-content {
    border: none !important;
}

@media only screen and (max-height: 623px) {
    .addAudioPl {
        top: 30rem;
    }
}

@media only screen and (min-width: 1175px) {
    figure {
        height: 170px !important;
    }

    figcaption.fc-capa-audio {
        height: 170px !important;
    }

    .icon-play {
        margin-top: 3.5rem !important;
        margin-bottom: 1.5rem !important;
        width: 65px !important;
    }
}

@media only screen and (min-width: 1058px) {
    .carousel-inner {
        height: 20rem !important;
    }
}

@media only screen and (max-width: 475px) {
    #reportAudio .has-float-label input:placeholder-shown:not(:focus)+*,
    .has-float-label select:placeholder-shown:not(:focus)+*,
    .has-float-label textarea:placeholder-shown:not(:focus)+* {
        font-size: 90% !important;
        top: 0.7em !important;
    }

    .tablinks {
        font-size: 1rem !important;
    }

    input#motivo {
        font-size: .8rem !important;
    }

    .modal .btn {
        font-size: .8rem !important;
    }

    .modal-title {
        font-size: 1.25rem;
    }

    .modal-body h5 {
        font-size: .9rem !important;
    }

    .addAudioPl {
        font-size: 12px;
    }

    .modal {
        padding-right: 0 !important;
    }
}