a.edit-fundo {
    position: relative;
    top: 15px;
}

.dp-redes-sociais {
    margin-top: 0;
    width: auto;
    margin-right: 0;
}

.dm-redes-sociais.show {
    padding: 1rem 1rem .5rem;
    margin-top: .5rem;
}

.collapse.show {
    right: auto;
}

.collapsing {
    right: auto;
}

.lb-redes-sociais {
    width: max-content;
    height: 2.7rem;
}

a#redes-sociais {
    padding: 4px 14px !important;
}

.row.redes-sociais {
    margin-top: 0;
    height: auto;
    padding: 0;
    background-color: transparent;
}

div#redes-sociais-salvas {
    display: none;
}

div#add-redes-sociais {
    display: none;
}

div#nenhuma-rede-social {
    display: block;
}

.fa-redes-sociais {
    font-size: 5rem !important;
    cursor: pointer;
}

.fa-google-plus-g {
    font-size: 4.5rem;
    color: #dc4e41;
}

.add-redes-sociais {
    position: absolute;
    left: 0;
    margin-left: 1rem;
}

img.social {
    display: block;
    width: 28px;
}

.nome_canal {
    position: relative;
    top: 15px;
}

figure.fig-foto {
    position: relative !important;
    top: 15px !important;
    left: 0 !important;
    max-width: 90px !important;
    max-height: 90px;
    overflow: initial !important;
}

.dropdown.filter {
    float: right;
    margin: 3px 0;
    width: auto;
    position: relative;
    right: 1rem;
    cursor: pointer;
}

.dropdown-menu.filter.show {
    margin-left: -9.5rem;
    background: #f8f9fa;
    margin-top: 7px;
    font-size: 15px;
    text-shadow: none;
}

a.dropdown-item.filter {
    padding: 0.5rem 1.5rem;
}

.edit-capa {
    background-size: cover;
    width: 100%;
    height: 20rem;
    margin-bottom: 0;
    cursor: pointer;
}

.nome-canal {
    height: 2.7rem;
    margin-bottom: 1rem;
}

.modal-lg {
    max-width: 100% !important;
    margin-top: 1rem !important;
    margin-left: 1rem !important;
    margin-bottom: 0 !important;
}

.addLinksChannel {
    margin-top: -11px !important;
    max-width: 31.2rem !important;
    min-height: calc(100% - (0.2rem * 2));
}

label.editCapa {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, .4);
    cursor: pointer;
}

label.editCapa:hover {
    opacity: 1;
}

.camera-capa {
    position: relative;
    margin: 0 !important;
    width: 6.5rem !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.foto {
    margin-top: 0 !important;
}

figure.fig-fade {
    height: auto !important;
}

.edit_audio_fundo {
    display: inline-block;
    font-size: 17px;
    text-decoration: none !important;
    color: white !important;
    padding: 7px 17px;
    border-radius: 4px;
    transition: 0.3s;
    background-color: #00000085;
    float: right;
    margin: 0 !important;
    cursor: pointer;
}

img.camera {
    width: 30px !important;
    margin: 33px 0 !important;
}

a#edit_info {
    float: right;
    padding: 9px 24px !important;
}

img.icon.seguidores {
    filter: drop-shadow(0px 2px 0 black) drop-shadow(0px -1px 0 black);
}

.ed-thumb {
    opacity: .9;
    position: absolute;
    top: 0;
    left: 0;
    margin: .5rem 1rem;
    font-size: .9rem;
}

.fig-fade figcaption {
    border-radius: 50%;
}

.edit-capa-bottom {
    position: relative;
    top: 7px;
}

.edit-capa-top {
    padding: 9px 18px !important;
}

.tab {
    overflow: hidden;
    background-color: rgb(250,250,250);
    margin-top: -10px;
    margin-bottom: 24px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 16px;
    transition: 0.3s;
    width: 50%;
    font-size: 22px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background: linear-gradient(-160deg, #032854, black);
    color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}

.form-search {
    max-width: 100%;
    display: flex;
}

.form-search img {
    margin: -5px !important;
    width: 21px;
}

.btn-search {
    width: 32px;
    background-color: transparent;
    margin-top: 2rem;
}

.btn-add:hover {
    color: white;
}

.btn-add:focus {
    color: white;
}

.btn-add:active {
    background: linear-gradient(-160deg, #032854, black) !important;
}

.cn-remove {
    width: 5.6rem !important;
    height: 2.1rem;
    border-radius: 4px !important;
    padding: 5px !important;
}

.audioBox {
    padding: 0 15px;
}

.edit-img-aud {
    display: block;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .ed-thumb {
        top: .5rem;
    }
}

@media only screen and (max-width: 575px) {
    .edit-capa-bottom {
        top: -4px;
    }

    div#editCapa {
        padding-right: 0 !important;
    }

    .modal-dialog-centered {
        margin: 0 !important;
    }

    .modal-content {
        border-radius: 0 !important;
    }

    .edit-capa {
        height: 17.2rem;
    }

    .camera-capa {
        width: 5rem !important;
    }

    div#editRedesSociais {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 414px) {
    .edit-capa-bottom {
        top: -12px;
    }

    .row.mt-4 {
        padding: 10px 0;
    }

    .headerChannel {
        margin-left: .6rem !important;
    }

    .row.mt-4.audios {
        padding: 10px 0;
    }

    input.form-control {
        right: 0;
    }

    .modal-content {
        position: absolute;
        top: 0;
    }

    .edit-capa {
        height: 13.7rem;
    }

    .mdc-redes-sociais {
        position: relative;
    }

    .fa-redes-sociais {
        font-size: 4rem !important;
    }

    .fa-google-plus-g {
        font-size: 3.5rem;
    }
}