form#form-up{
	margin-top: 100px;
	margin-left: 300px;
}
form#form-up input{
	margin-bottom: 50px;
}
div.progress{
	display: none;
}
input[type='file']{
	display: none;
}
.btn-up{
	background-color: #032854;
	color: white;
}

figure.fig-fade{
	position: relative;
	box-shadow: 0px 0px 1px black;
}

img#foto-hide{
	position: relative;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-left: 5px;
}
img#foto-default{
	width: 500px;
	height: 300px;
}
figure.fig-fade figcaption{
	opacity: 0;
	position: absolute;
	background-color: rgba(0, 0, 0, .4);
	top: 0px;
	width: 100%;
	height: 100%;
	transition: opacity 1s;
}
figure.fig-fade:hover figcaption{
		opacity: 1;
}

/* formatação pra formularios */
select.select-channel{
	padding: 5px;
	width: 250px;
	border-radius: 8px;
	border: none;
	box-shadow:  0px 0px 1px black;

}

.form_audio{
	display: block;
}
.form_audio input{
	border: none;
	box-shadow: 0px 0px 0.5px black;
	border-radius: 5px;
	padding: 5px;
	width: 600px;
}
.form_audio textarea{
	border: none;
	box-shadow: 0px 0px 0.5px black;
	border-radius: 5px;
	padding: 5px;
}
