a#audios {
    color: initial !important;
    text-decoration: none !important;
}

a#playlists {
    color: #032854;
    text-decoration: underline;
}

.audio-list {
    display: block;
    right: 0;
    padding: 0;
    width: 100%;
}

.fa-clock {
    color: black;
    font-size: .92rem;
    margin-left: 1px;
    margin-right: 3px;
}

.last-update {
    white-space: initial;
    overflow: initial;
    height: 2rem;
    margin-bottom: 0;
}

.playlist {
    padding: 1rem 1rem 0;
    margin-bottom: 0 !important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: -1px;
    color: white;
    background: linear-gradient(-350deg, #032854, black);
}

.card {
    border-radius: 4px 0 0 4px;
}

.card-img-top {
    border-radius: 2px 0 0;
}

.col-md-6.playlist {
    margin-top: 0.5px;
}

.audio {
    margin-bottom: 1rem;
    white-space: nowrap;
    height: 30px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}

.thumb-audio {
    display: inline-block;
    vertical-align: sub;
    margin-right: 10px;
    width: 21px;
}

.time {
    font-weight: lighter;
    float: right;
    margin-left: 23px;
    margin-top: 5px;
}

.playlist-more {
    margin-top: 55px;
    margin-bottom: -25px;
}

.capa-playlist figcaption {
    height: 52.5% !important;
}

.playlist-link {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    padding: 5px 0;
    width: 100%;
    font-weight: bold;
    color: white;
    border-color: white;
}

.playlist-link:hover {
    background-color: #00000047;
}

@media only screen and (max-width: 1174px) {
    .capa-playlist figcaption {
        height: 46% !important;
    }
}

@media only screen and (max-width: 930px) {
    .playlist-more {
        margin-top: 16px;
        margin-bottom: -15px;
    }

    .icon-play {
        width: 40px !important;
        margin: 1.8rem !important;
    }

    p.descript-thumb {
        height: 1.25rem !important;
    }

    .last-update {
        margin-bottom: 1.25rem;
    }

    .card-text {
        margin-top: .25rem;
    }

    .capa-playlist figcaption {
        height: 41.5% !important;
    }
}

@media only screen and (min-width: 835px) and (max-width: 930px) {
    .capa-playlist figcaption {
        height: 44.5% !important;
    }

    .icon-play {
        margin: 2.85rem !important;
    }
}


@media (min-width: 768px) {
    .col-md-6 {
        display: inline-flex;
        max-width: 50%;
        margin-bottom: 1.25rem;
    }
}

@media only screen and (max-width: 767px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-6.playlist {
        margin-top: -2rem;
    }

    .playlist {
        margin-bottom: 1.25rem !important;
        margin-top: -30px;
        width: 100% !important;
        border-radius: 0 0 4px 4px;
        margin-left: 0;
        height: 17rem;
    }

    .card-img-top {
        border-radius: 2px 2px 0 0;
    }

    .playlist-link {
        top: 13rem;
        height: 2.1rem;
    }

    .card {
        border-radius: 4px 4px 0 0;
    }

    .icon-play {
        width: 4rem !important;
        margin: 3.3rem !important;
    }

    .capa-playlist figcaption {
        height: 54% !important;
    }
}

@media only screen and (max-width: 575px) {
    .col-md-6 {
        width: 100%;
    }

    .row.mt-4 {
        margin: 0;
    }

    .col-playlist {
        padding: 0;
    }

    .col-md-6.playlist {
        margin-top: -3rem;
    }

    .playlist {
        margin-top: -44px;
    }

    .form-search {
        padding: 0 1rem !important;
    }

    .last-update {
        height: 2rem !important;
    }

    .capa-playlist figcaption {
        height: 58.5% !important;
    }

    .icon-play {
        margin: 4.3rem !important;
    }
}

@media only screen and (max-width: 414px) {
    .playlist {
        margin-top: -30px;
    }

    .col-md-6.playlist {
        margin-top: -2rem;
    }

    .icon-play {
        margin: 4.3rem !important;
        width: 3.5rem !important;
    }
}