body {
    font-family: Raleway;
    overflow: auto;
}

.infoBox {
    min-height: 17.5rem;
    margin-top: 4.6rem;
    padding: 1.5rem;
}

.capa-playlist {
    width: 17rem;
    height: 10.7rem;
    position: absolute;
    top: 6.1rem;
    left: 1.5rem;
    z-index: -1;
}

/*A capa dentro do modal de editar playlist*/
.edit-capa {
    width: 28.6rem;
    height: 17.7rem;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    margin-top: 7px;
}

.camera {
    width: 28.6rem;
    padding: 7rem 11.85rem !important;
    cursor: pointer;
    position: absolute;
    top: 1.6rem;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
}

.camera:hover {
    opacity: 1;
}

.fa-camera {
    font-size: 21px;
    position: relative;
    top: 2px;
}

.tooltip-inner {
    background: linear-gradient(-357deg, #032854, black) !important;
}

.tooltip {
    margin-top: .25rem !important;
}

.icon-play {
    width: 17rem !important;
    height: 100%;
    padding: 3rem 6rem;
    transition: opacity 1s;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    max-width: 17rem;
    height: 10.7rem;
    position: absolute;
    top: 2.6rem;
    left: 1.5rem;
}

.icon-play:hover {
    opacity: .9;
}

.info-canal {
    position: absolute;
    top: 13.5rem;
    max-width: 17rem;
    margin-top: 4rem;
}

.ft-do-canal {
    height: 2rem;
    width: 2rem;
    margin-right: .25rem;
}

.nome-canal {
    max-width: 15rem;
    width: auto;
    margin-top: -1.7rem;
    margin-left: 2.3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
}

.btn-add {
    border: initial;
    border-radius: 4px;
    color: white;
    background: linear-gradient(-160deg, #032854, black);
}

.btn-add:hover {
    background: linear-gradient(-160deg, #032854bf, black);
}

.btn-sintonizar {
    position: relative;
    top: .8rem;
    background: linear-gradient(-160deg, #032854, black);
    color: white !important;
    padding: 6px 24px;
    border: 1px solid;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: .5px;
}

.btn-sintonizar:hover {
    color: white !important;
    background: linear-gradient(-160deg, #032854bf, black);
}

.btn-sintonizar:focus {
    color: white;
}
.btn-editar{
    position: relative;
    top: .8rem;
    background: linear-gradient(-160deg, #032854, black);
    color: white !important;
    padding: 6px 24px;
    border: 1px solid;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: .5px;
}

.btn-editar:hover {
    color: white !important;
    background: linear-gradient(-160deg, #032854bf, black);
}

.btn-editar:focus {
    color: white;
}

.icon-info {
    display: inline-block;
    width: 16px;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.icones {
    display: -webkit-inline-box;
    float: left;
    margin-top: -8px;
}

.icon-playlist {
    width: 1.8rem;
    margin-top: -1px;
    cursor: pointer;
}

.vincular {
    position: relative;
    top: -1px;
    width: 19px;
}

.delete {
    width: 1.5rem;
}

.modal-open {
    padding-right: 0 !important;
}

ul.dropdown-menu.dm-vincular.show {
    margin-top: .65rem;
    padding: 0.5rem;
    background: #f8f9fa;
}

.di-vincular {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fa-link {
    color: black;
    font-size: 18px;
    margin-top: -1px;
    cursor: pointer;
}

a#salvarVinculo {
    width: 100%;
    font-size: 14px;
    padding: 0.25rem;
    top: 0;
    margin-top: .5rem;
}

.visibility {
    margin-top: 1px !important;
    width: 22px;
}

.dm-visibility.show {
    padding: 0;
    background-color: transparent;
    border: hidden;
    min-width: 22px;
}

.di-visibility {
    padding: 4px 0;
}

.di-visibility:hover {
    background-color: transparent;
}

.icon-visibility {
    width: 1.4rem;
    cursor: pointer;
}

.info-playlist {
    margin-left: 19rem;
}

.last-update {
    display: inline;
    margin-left: 1.5rem;
}

.audioBox {
    background: linear-gradient(-160deg, #032854, black);
    color: white;
    padding: 1rem 0 3rem;
}

.numero-audio {
    display: inline;
    margin-left: 1.5rem;
    margin-right: -.5rem;
    position: relative;
    bottom: 4rem;
    font-weight: bold;
    transition: visibility 0s, opacity .2s linear;
}

.card {
    display: -webkit-inline-box;
    width: 90%;
    height: 7rem;
    margin-left: 2rem;
    border: hidden;
    background-color: transparent;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio {
    padding-top: 1rem;
    height: 9rem;
    transition: .2s;
}

.audio:hover {
    background-color: #0000002e;
}

a.delete {
    position: absolute;
    margin-top: 2.7rem;
    left: .8rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .2s linear;
}

figure {
    margin: 0;
    width: 10rem;
    height: 7rem;
}

.img-audio {
    display: block;
    height: 7rem;
    width: 10rem;
}

figcaption {
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    top: 0px;
    width: 10rem;
    height: 7rem;
    transition: opacity 1s;
    cursor: pointer;
    color: white;
}

figcaption:hover {
    opacity: 1;
}

.icon-play-audio {
    width: 43px;
    opacity: .9;
    margin: 2.2rem 0;
}

.card-body {
    position: relative;
    bottom: 11rem;
    left: 10rem;
    width: 60%;
}

.tempo {
    text-align: right;
    position: relative;
    bottom: 7rem;
    margin-left: 11rem;
}

/*Radio buttons */
input[type=radio] {
    position: relative;
    left: -12px;
}

input[type='radio']:after {
    width: 21px;
    height: 21px;
    border-radius: 15px;
    top: -5px;
    left: -8px;
    position: relative;
    background-color: white;
    content: close-quote;
    display: -webkit-box;
    border: 3px solid gray;
    cursor: pointer;
    transition: 0.3s;
}

input[type='radio']:checked:after {
    width: 21px;
    height: 21px;
    border-radius: 15px;
    top: -5px;
    left: -8px;
    position: relative;
    background-color: white;
    content: close-quote;
    display: inline-block;
    border: 7px solid #032854;
}

input[type='radio']:checked:hover:after {
    border: 7px solid #033979;
}

input[type='radio']:hover:after {
    border: 7px solid gray;
}

.radio input[type=radio] {
    position: absolute;
    margin-left: -37px;
    top: 0px;
    height: 1%;
    width: 1%;
}

.radio {
    position: relative;
    display: inline-table;
    margin-top: 8px;
    margin-bottom: -3px;
    padding: 6px;
}

@media only screen and (max-width: 1174px) {
    .icon-play {
        top: 6.15rem;
    }

    .card-body {
        bottom: 7.5rem;
    }
}

@media only screen and (max-width: 770px) {
    .last-update {
        display: block;
        margin-left: 0;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        width: 87%;
    }
}

@media only screen and (max-width: 575px) {
    .modal-content {
        margin-top: 8rem;
    }
}