body {
    font-family: Raleway;
    overflow: auto;
}

.infoBox {
    min-height: 17.5rem;
    margin-top: 4.6rem;
    padding: 1.5rem;
}

.capa-playlist {
    width: 17rem;
    height: 10.7rem;
    position: absolute;
    top: 6.1rem;
    left: 1.5rem;
    z-index: -1;
}

/*A capa dentro do modal de editar playlist*/
.edit-capa {
    width: 28.6rem;
    height: 17.7rem;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
    margin-top: 7px;
}

.camera {
    width: 28.6rem;
    padding: 7rem 11.85rem !important;
    cursor: pointer;
    position: absolute;
    top: 1.6rem;
    transition: opacity .3s;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
}

.camera:hover {
    opacity: 1;
}

.fa-camera {
    font-size: 22px;
    margin-top: -1px;
}

.fa-pen {
    font-size: 19px;
    position: relative;
    top: -1px;
}

.tooltip-inner {
    background: linear-gradient(-357deg, #032854, black) !important;
}

.tooltip {
    margin-top: .25rem !important;
}

.icon-play {
    width: 17rem !important;
    height: 100%;
    transition: opacity .3s;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    max-width: 17rem;
    height: 10.7rem;
    position: absolute;
    top: 2.6rem;
    left: 1.5rem;
}

.icon-play:hover {
    opacity: .9;
}

.icon-play img {
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.info-canal {
    position: absolute;
    top: 13.5rem;
    max-width: 17rem;
    margin-top: 4rem;
}

.ft-do-canal {
    height: 2rem;
    width: 2rem;
    margin-right: .25rem;
}

.nome-canal {
    max-width: 15rem;
    width: auto;
    margin-top: -1.7rem;
    margin-left: 2.3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 18px;
}

.btn-add {
    border: initial;
    border-radius: 4px;
    color: white;
    background: linear-gradient(-160deg, #032854, black);
}

.btn-add:hover {
    background: linear-gradient(-160deg, #032854bf, black);
}

.descButton {
    float: left;
    margin-top: 1rem;
}

.icon-desc {
    margin-right: .5rem;
    font-size: 1.5rem;
    color: white;
    visibility: visible;
}

.btn-sintonizar {
    position: relative;
    top: .8rem;
    background: linear-gradient(-160deg, #032854, black);
    color: white !important;
    padding: 6px 24px;
    border: 1px solid;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: .5px;
}

.btn-sintonizar:hover {
    color: white !important;
    background: linear-gradient(-160deg, #032854bf, black);
}

.btn-sintonizar:focus {
    color: white;
}
.btn-editar{
    position: relative;
    top: .8rem;
    background: linear-gradient(-160deg, #032854, black);
    color: white !important;
    padding: 6px 24px;
    border: 1px solid;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: .5px;
}

.btn-editar:hover {
    color: white !important;
    background: linear-gradient(-160deg, #032854bf, black);
}

.btn-editar:focus {
    color: white;
}

.icon-info {
    display: inline-block;
    width: 16px;
    position: relative;
    top: -2px;
    margin-right: 3px;
}

.icones {
    display: -webkit-inline-box;
    float: left;
    margin-top: -8px;
    height: 1.3rem;
}

.icon-playlist {
    width: 30px;
    margin-top: -5px;
    margin-left: -1px;
    cursor: pointer;
}

img.random {
    width: 29px;
}

.fa-share {
    color: black;
    font-size: 22px;
}

.vincular {
    position: relative;
    top: -1px;
    width: 19px;
}

.delete {
    width: 1.5rem;
}

.modal-open {
    padding-right: 0 !important;
}

ul.dropdown-menu.dm-vincular.show {
    margin-top: .65rem;
    margin-left: -5rem;
    padding: 0.5rem;
    background: #f8f9fa;
}

.di-vincular {
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fa-link {
    color: black;
    font-size: 21px;
    margin-top: -4px;
    cursor: pointer;
}

a#salvarVinculo {
    width: 100%;
    font-size: 14px;
    padding: 0.25rem;
    top: 0;
    margin-top: .5rem;
}

.visibility {
    margin-top: 1px !important;
    width: 22px;
}

.dm-visibility.show {
    padding: 0;
    background-color: transparent;
    border: hidden;
    min-width: 22px;
}

.di-visibility {
    padding: 4px 0;
}

.di-visibility:hover {
    background-color: transparent;
}

.icon-visibility {
    width: 23px;
    margin-top: -2px;
    cursor: pointer;
}

.info-playlist {
    margin-left: 19rem;
}

.last-update {
    display: inline;
    margin-left: 1.5rem;
}

.audioBox {
    background: linear-gradient(-160deg, #032854, black);
    color: white;
    padding: 1rem 0 3rem;
}

.numero-audio {
    display: inline;
    margin-left: 1.5rem;
    margin-right: -.5rem;
    position: relative;
    bottom: 4rem;
    font-weight: bold;
    transition: visibility 0s, opacity .2s linear;
}

.card {
    display: -webkit-inline-box;
    width: 90%;
    height: 7rem;
    margin-left: 2rem;
    border: hidden;
    background-color: transparent;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio {
    padding-top: 1rem;
    height: 9rem;
    transition: .2s;
}

.audio:hover {
    background-color: #0000002e;
}

a.delete {
    position: absolute;
    margin-top: 2.7rem;
    left: .8rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .2s linear;
}

figure {
    margin: 0;
    width: 10rem;
    height: 7rem;
}

.img-audio {
    display: block;
    height: 7rem;
    width: 10rem;
}

figcaption {
    opacity: 0;
    padding: 0 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    top: 0px;
    width: 10rem;
    height: 7rem;
    transition: opacity .3s;
    cursor: pointer;
    color: white;
}

figcaption:hover {
    opacity: 1;
}

.icon-play-audio {
    width: 43px;
    opacity: .9;
    margin: 2.2rem 0;
}

.card-body {
    position: relative;
    bottom: 11rem;
    left: 10rem;
    width: 60%;
}

.tempo {
    text-align: right;
    position: relative;
    bottom: 10rem;
    margin-left: 11rem;
}

/*Radio buttons */
input[type=radio] {
    position: relative;
    left: -12px;
}

input[type='radio']:after {
    width: 21px;
    height: 21px;
    border-radius: 15px;
    top: -5px;
    left: -8px;
    position: relative;
    background-color: white;
    content: close-quote;
    display: -webkit-box;
    border: 3px solid gray;
    cursor: pointer;
    transition: .3s;
}

input[type='radio']:checked:after {
    width: 21px;
    height: 21px;
    border-radius: 15px;
    top: -5px;
    left: -8px;
    position: relative;
    background-color: white;
    content: close-quote;
    display: inline-block;
    border: 7px solid #032854;
}

input[type='radio']:checked:hover:after {
    border: 7px solid #033979;
}

input[type='radio']:hover:after {
    border: 7px solid gray;
}

.radio input[type=radio] {
    position: absolute;
    margin-left: -37px;
    top: 0px;
    height: 1%;
    width: 1%;
}

.radio {
    position: relative;
    display: inline-table;
    margin-top: 8px;
    margin-bottom: -3px;
    padding: 6px;
}

.icon-pl {
    margin-right: 1rem;
}

@media only screen and (max-width: 1174px) {
    .icon-play {
        top: 6.15rem;
    }

    .card-body {
        bottom: 7.5rem;
    }

    .tempo {
        bottom: 6.5rem;
    }
}

@media only screen and (max-width: 630px) {
    .info-playlist {
        margin-left: 0;
        margin-top: 18rem;
    }

    .capa-playlist {
        width: 85%;
        height: 16.65rem;
    }

    .icon-play {
        height: 16.65rem;
        width: 85% !important;
        max-width: 100%;
    }

    .icon-play img {
        width: 5rem;
    }

    .info-canal {
        margin-top: 10.5rem;
    }

    h3#play_titul {
        margin-top: 4rem;
    }

    .icon-pl {
        margin-bottom: 1rem;
    }

    .fa-link {
        margin-top: 2px;
    }

    .icones .dropdown {
        margin: 0 0 1rem !important;
        width: 1.5rem;
    }

    .icones span {
        margin-bottom: 1rem;
        width: 1.5rem;
    }

    .icones a {
        width: 1.5rem;
    }

    .icones {
        display: grid;
        float: right;
        margin-top: -17.5rem;
        width: 1.5rem;
    }

    figure {
        width: 7rem;
        height: 4rem;
    }

    .img-audio, figcaption {
        height: 4rem;
        width: 7rem;
    }

    .icon-play-audio {
        width: 30px;
        margin: 1.1rem 0;
    }

    .numero-audio {
        font-size: 1rem;
        bottom: 4rem;
    }

    .fa-trash-alt {
        margin-top: -1.3rem;
    }

    .card-title {
        font-size: 1.25rem;
    }

    .audio {
        height: 6.25rem;
    }

    .tempo {
        font-size: 1rem;
        bottom: 4rem;
    }

    .card-text {
        font-size: .85rem;
    }

    .card-body {
        bottom: 4rem;
        padding-top: 0;
        left: 7rem;
    }

    ul.dropdown-menu.dm-vincular.show {
        margin-left: -8.2rem;
    }
}

@media only screen and (max-width: 770px) {
    .last-update {
        display: block;
        margin-left: 0;
    }
}

@media only screen and (max-width: 700px) {
    .card {
        width: 87%;
    }
}

@media only screen and (max-width: 575px) {
    .modal-content {
        margin-top: 8rem;
    }

    .infoBox {
        margin-top: 8.5rem;
    }

    .info-canal {
        margin-top: 14rem;
    }

    .capa-playlist {
        margin-top: 3.8rem;
    }

    .icon-play {
        top: 9.9rem;
    }
}

@media only screen and (max-width: 520px) {
    .icon-play, .capa-playlist {
        width: 82% !important;
    }
}

@media only screen and (max-width: 475px) {
    figure {
        display: none;
    }

    .card-body {
        bottom: 0;
        left: 0;
        width: 85%;
    }

    .card-title {
        font-size: 1rem;
        font-weight: bold;
    }

    .tempo {
        font-size: .75rem;
        bottom: 3rem;
    }

    .audio {
        height: 5.25rem;
    }

    .card-text {
        font-size: .75rem;
    }

    .numero-audio {
        position: absolute;
        bottom: auto;
        margin-top: 1.5rem;
        font-size: .85rem;
    }

    .fa-trash-alt {
        font-size: .85rem;
        margin-right: 4px;
        margin-top: -17px;
    }

    h3#play_titul {
        font-size: 1.5rem;
    }

    .fa-clock {
        font-size: .75rem !important;
    }

    .info-playlist {
        font-size: .85rem;
    }

    .btn-sintonizar {
        font-size: .85rem;
        padding: 6px 14px;
    }

    .card {
        height: auto;
    }

    .icon-info {
        width: .85rem;
    }

    .descButton {
        font-size: .85rem;
        padding-top: 6px;
    }

    .icon-desc {
        font-size: 1.25rem;
        position: relative;
        top: 2px;
    }
}

@media only screen and (max-width: 437px) {
    .icon-play, .capa-playlist {
        width: 79% !important;
    }
}

@media only screen and (min-width: 386px) and (max-width: 414px){
    .capa-playlist {
        margin-top: 2.5rem;
    }

    .icon-play {
        top: 8.6rem;
    }

    .info-canal {
        margin-top: 12.5rem;
    }

    h3#play_titul {
        margin-top: 2rem;
    }

    .icones {
        margin-top: -19rem;
    }
}

@media only screen and (max-width: 385px) {
    .icon-play, .capa-playlist {
        width: 88% !important;
        height: 13rem;
        margin-top: 4.5rem;
    }

    .icon-play {
        top: 6.1rem;
    }

    .info-canal {
        margin-top: 11rem;
    }

    .info-playlist {
        margin-top: 14.5rem;
    }

    .icon-play img {
        width: 4rem;
    }

    .icones {
        display: -webkit-inline-box;
        margin-top: -16rem;
        margin-right: -.3rem;
        height: 1.3rem;
        width: 100%;
    }

    .icon-visibility {
        margin-top: 0;
        margin-left: .7rem;
    }

    ul.dropdown-menu.dm-vincular.show {
        margin-left: -4.85rem;
        margin-top: .75rem;
    }
}