{% extends 'base_channel.html' %}

{% load static %}

{% block head %}
    <title>{{chan.nome_canal}} - VoxStation</title>
    <link rel="stylesheet" href="{% static 'channel/style_channel_about.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_inicio.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_new_channel.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row sections">
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:channel_view' chan.id %}" class="section" id="inicio">Início</a></center>
            </div>
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:uploads_view' chan.id %}" class="section" id="audios">Áudios</a></center>
            </div>
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:playlist_view' chan.id %}" class="section" id="playlists">Playlists</a></center>
            </div>
            <div class="col-6 col-sm-2 col-md-2 semelhantes">
                <center><a href="{% url 'channel:partner_view' chan.id %}" class="section" id="semelhantes">Parceiros</a></center>
            </div>
            <div class="col-6 col-sm-2 col-md-2 sobre">
                <center><a href="{% url 'channel:about_view' chan.id %}" class="section" id="sobre">Sobre</a></center>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row about">
            <div class="col-md-6">
                <h2 class="headerChannel mb-4">Descrição</h2>
                <p class="descricao">
                    {{chan.descricao}}
                </p>
            </div>

            <div class="col-md-6">
                <h2 class="headerChannel mb-4 tags">Tags mais usadas</h2>
                <div class="row links">
                    {% for tag in tags_mais_usadas %}
                    <div class="col-6 link">
                        <a href="#">#{{tag}}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-md-6 mb-5">
                <h2 class="headerChannel mb-4 mt-4">Estatísticas</h2>
                <p class="descricao mb-3">Canal criado em {{chan.data_criacao}}</p>
                <p class="descricao mb-3">
                    <img src="/static/images/default-user.png" alt="seguidores" class="icon seguidores">{{num_seguidores}}
                </p>
                <p class="descricao mb-3">
                    <!--Colocar o número de áudios do canal-->
                    <img src="/static/resources/icones/disc.ico" alt="número de áudios" class="icon">0
                </p>
                <p class="descricao mb-3">
                    <img src="/static/resources/icones/view.png" alt="reproduções" class="icon">{{reproducoes_tot}}
                </p>
                <p class="descricao mb-3">
                    <img src="/static/resources/icones/like.png" alt="gostaram" style="bottom: 3px;" class="icon">{{likes}}
                </p>
                <p class="descricao">
                    <img src="/static/resources/icones/dislike.png" alt="não gostaram" class="icon">{{deslikes}}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
