{% extends 'base_channel.html' %}

{% load static %}

{% block head %}
    <title>{{chan.nome_canal}} - VoxStation</title>
    <link rel="stylesheet" href="{% static 'channel/style_channel_inicio.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_new_channel.css' %}">
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'channel/style_channel_uploads.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_playlists.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_about.css' %}">
    <script src="{% static 'channel/js/play_add.js' %}"></script>
    <script src="{% static 'channel/js/edit_channel.js' %}"></script>
    <script src="{% static 'channel/js/search_audios.js' %}"></script>
    <script src="{% static 'channel/js/search_playlists.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'Inicio')">Início</button>
            <button class="tablinks" onclick="openTab(event, 'Audios')">Áudios</button>
            <button class="tablinks" onclick="openTab(event, 'Playlists')">Playlists</button>
            <button class="tablinks" onclick="openTab(event, 'Sobre')">Sobre</button>
        </div>

        <!--Início-->
        <div id="Inicio" class="tabcontent" style="display: block;">
            <div id="carouselSlider-{{forloop.counter}}" class="carousel slide" data-ride="carousel">
                <h2 class="headerChannel"><img src="/static/resources/icones/historic_white.png" class="icon-section"
                         alt="últimos envios" style="margin-left: 0;">Últimos envios</h2>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row mt-4">
                            {%for audio in chan.playlist1%}
                            <div class="col-md-3">
                                <div class="card">
                                    <a href="{% url 'channel:player_view' audio.id %}">
                                        <figure class="fig-capa-audio" id="figP1-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                            <img src="{{audio.capa.url}}" class="card-img-top" alt="">
                                            <div class="duration-audio">{{audio.duracao}}</div>
                                            <figcaption class="fc-capa-audio">
                                                <center>
                                                    <img src="/static/resources/icones/play.png" class="icon-play"/>
                                                    <div class="dropdown more">
                                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                        <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                            <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                        </div>
                                                        </a>
                                                    </div>
                                                </center>
                                            </figcaption>
                                        </figure>
                                    </a>

                                    <div class="card-body">
                                        <a href="{% url 'channel:player_view' audio.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audio.titulo}}</h4></a>
                                        <div class="card-text">
                                            <p class="descript-thumb">{{chan.nome_canal}}</p>
                                            <p class="descript-thumb">
                                                <img src="/static/resources/icones/view.png" class="icon-view"/>
                                                {{audio.reproducoes}}</p>
                                            <p class="descript-thumb">
                                                {{audio.data_publicacao|date:"d/m/y"}} às
                                                {{audio.data_publicacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    {% if chan.playlist2 %}
                    <div class="carousel-item">
                        <div class="row mt-4">
                            {%for audio in chan.playlist2%}
                            <div class="col-md-3">
                                <div class="card">
                                    <a href="{% url 'channel:player_view' audio.id %}">
                                        <figure class="fig-capa-audio" id="figP2-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                            <img src="{{audio.capa.url}}" class="card-img-top" alt="">
                                            <div class="duration-audio">{{audio.duracao}}</div>
                                            <figcaption class="fc-capa-audio">
                                                <center>
                                                    <img src="/static/resources/icones/play.png" class="icon-play"/>
                                                    <div class="dropdown more">
                                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                        <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                            <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                        </div>
                                                        </a>
                                                    </div>
                                                </center>
                                            </figcaption>
                                        </figure>
                                    </a>

                                    <div class="card-body">
                                        <a href="{% url 'channel:player_view' audio.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audio.titulo}}</h4></a>
                                        <div class="card-text">
                                            <p class="descript-thumb">{{chan.nome_canal}}</p>
                                            <p class="descript-thumb">
                                                <img src="/static/resources/icones/view.png" class="icon-view"/>
                                                {{audio.reproducoes}}</p>
                                            <p class="descript-thumb">
                                                {{audio.data_publicacao|date:"d/m/y"}} às
                                                {{audio.data_publicacao|date:"H:i"}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if chan.playlist2 %}
                <a href="#carouselSlider-{{forloop.counter}}" class="carousel-control-prev" role="button" data-slide="prev">
                    <img src="/static/resources/icones/prev.png" class="slideIcos" alt="">
                </a>
                <a href="#carouselSlider-{{forloop.counter}}" class="carousel-control-next" role="button" data-slide="next">
                    <img src="/static/resources/icones/next.png" class="slideIcos" alt="">
                </a>
                {% endif %}
            </div>
            <div id="carouselSliderMostPopular-{{forloop.counter}}" class="carousel slide" data-ride="carousel">
            <h2 class="headerChannel"><img src="/static/resources/icones/play.png" class="icon-section"
                         alt="mais reproduzidos" style="margin-left: 0;">Mais reproduzidos</h2>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row mt-4">
                        {%for audios in audios_popular.playlist1%}
                        <div class="col-md-3">
                            <div class="card">
                                <a href="{% url 'channel:player_view' audios.id %}">
                                    <figure class="fig-capa-audio" id="figAP1-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                        <img src="{{audios.capa.url}}" class="card-img-top" alt="">
                                        <div class="duration-audio">{{audios.duracao}}</div>
                                        <figcaption class="fc-capa-audio">
                                            <center>
                                                <img src="/static/resources/icones/play.png" class="icon-play"/>
                                                <div class="dropdown more">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                    <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                        <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                    </div>
                                                    </a>
                                                </div>
                                            </center>
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <a href="{% url 'channel:player_view' audios.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audios.titulo}}</h4></a>
                                    <div class="card-text">
                                        <p class="descript-thumb">{{chan.nome_canal}}</p>
                                        <p class="descript-thumb">
                                            <img src="/static/resources/icones/view.png" class="icon-view"/>
                                            {{audios.reproducoes}}</p>
                                        <p class="descript-thumb">
                                            {{audios.data_publicacao|date:"d/m/y"}} às
                                            {{audios.data_publicacao|date:"H:i"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                {% if audios_popular.playlist2 %}
                <div class="carousel-item">
                    <div class="row mt-4">
                        {%for audios in audios_popular.playlist2%}
                        <div class="col-md-3">
                            <div class="card">
                                <a href="{% url 'channel:player_view' audios.id %}">
                                    <figure class="fig-capa-audio" id="figAP2-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                        <img src="{{audios.capa.url}}" class="card-img-top" alt="">
                                        <div class="duration-audio">{{audios.duracao}}</div>
                                        <figcaption class="fc-capa-audio">
                                            <center>
                                                <img src="/static/resources/icones/play.png" class="icon-play"/>
                                                <div class="dropdown more">
                                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                    <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                        <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                    </div>
                                                    </a>
                                                </div>
                                            </center>
                                        </figcaption>
                                    </figure>
                                </a>

                                <div class="card-body">
                                    <a href="{% url 'channel:player_view' audios.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audios.titulo}}</h4></a>
                                    <div class="card-text">
                                        <p class="descript-thumb">{{chan.nome_canal}}</p>
                                        <p class="descript-thumb">
                                            <img src="/static/resources/icones/view.png" class="icon-view"/>
                                            {{audios.reproducoes}}</p>
                                        <p class="descript-thumb">
                                            {{audios.data_publicacao|date:"d/m/y"}} às
                                            {{audios.data_publicacao|date:"H:i"}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                {% endif %}
            </div>
            {% if chan.playlist2 %}
            <a href="#carouselSliderMostPopular-{{forloop.counter}}" class="carousel-control-prev" role="button" data-slide="prev">
                <img src="/static/resources/icones/prev.png" class="slideIcos" alt="">
            </a>
            <a href="#carouselSliderMostPopular-{{forloop.counter}}" class="carousel-control-next" role="button" data-slide="next">
                <img src="/static/resources/icones/next.png" class="slideIcos" alt="">
            </a>
            {% endif %}
        </div>
        </div>
        <!--Fim do início-->

        <!--Áudios-->
        <div id="Audios" class="tabcontent" style="display: none;">
            <div class="audioBox">
                {%if audios%}
                <form class="form-search" enctype="multipart/form-data" method="POST" id="searchAudiosForm"
                      action="{% url 'channel:search_audios_view' chan.id %}">
                    {% csrf_token %}
                    <input class="form-control" type="search" name="{{form_aud.text.name}}" id="{{form_aud.text.id_for_label}}"
                           placeholder="Pesquisar" required="">
                    <button class="btn btn-search" type="submit">
                        <img class="search-icon" src="/static/resources/icones/search.ico" alt="Pesquisar" id="search">
                    </button>
                </form>

                <div class="row mt-4 audios" id="audios-row">
                    {%for audio in audios%}
                    <div class="col-md-3 col-audios" id="{{audio.id}}">
                        <div class="card">
                            <a href="{% url 'channel:player_view' audio.id %}">
                                <figure class="fig-capa-audio" id="figA-{{forloop.counter}}"
                                            onmouseover="hideDuration(this.id)" onmouseleave="showDuration(this.id)">
                                    <img src="{{audio.capa.url}}" class="card-img-top" alt="">
                                    <div class="duration-audio">{{audio.duracao}}</div>
                                    <figcaption class="fc-capa-audio">
                                        <center>
                                            <a href="#"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                            <div class="dropdown more">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                    <a class="dropdown-item addplay" data-toggle="modal" data-target="#addPlaylist"  url_="{% url 'channel:playlist_add_view' %}"  aud_atre="{{audio.id}}">Adicionar a playlist</a>
                                                </div>
                                                </a>
                                            </div>
                                        </center>
                                    </figcaption>
                                </figure>
                            </a>

                            <div class="card-body">
                                <a href="#" class="audio-link"><h4 class="card-title audio-titul">{{audio.titulo}}</h4></a>
                                <div class="card-text">
                                    <p class="descript-thumb">{{chan.nome_canal}}</p>
                                    <p class="descript-thumb">
                                        <img src="/static/resources/icones/view.png" class="icon-view"/>
                                        {{audio.reproducoes}}</p>
                                    <p class="descript-thumb">
                                        {{audio.data_publicacao|date:"d/m/y"}} às
                                        {{audio.data_publicacao|date:"H:i"}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    {%else%}
                    <p><h5 class="ml-4 mt-3"><strong>Esse canal não publicou áudios ainda.</strong></h5></p>
                    {%endif%}
                </div>
                <div class="no-search" id="no-search">
                    <h5 class="ml-4"><strong>Nenhum áudio com esse titúlo foi encontrado.</strong></h5>
                </div>
            </div>
        </div>
        <!--Fim de áudios-->

        <!--Playlists-->
        <div id="Playlists" class="tabcontent" style="display: none;">
            <div class="audioBox">
                {% if playlists %}
                <form class="form-search" enctype="multipart/form-data" method="POST" id="searchPlaylistForm"
                      action="{% url 'channel:search_playlists_view' chan.id %}">
                    {% csrf_token %}
                    <input class="form-control" type="search" name="{{form_pl.text.name}}"
                           id="{{form_pl.text.id_for_label}}" placeholder="Pesquisar" required="">
                    <button class="btn btn-search" type="submit">
                        <img class="search-icon" src="/static/resources/icones/search.ico" alt="Pesquisar" id="search-pl">
                    </button>
                </form>
                <div class="row mt-4 row-pl">
                    {% for playlist in playlists %}
                    <div class="col-md-6 col-playlist" id="{{playlist.id}}">
                        <div class="card">
                            <a href="{% url 'channel:playlist_play_view' playlist.id playlist.audios.first.id %}">
                                <figure class="fig-capa-audio">
                                    <img src="{{playlist.capa.url}}" class="card-img-top pl-capa" alt="capa de {{playlist.nome}}">
                                    <figcaption class="fc-capa-audio fig-cap-pl">
                                        <center>
                                            <img src="/static/resources/icones/play.png" class="icon-play play-pl"/>
                                        </center>
                                    </figcaption>
                                </figure>
                            </a>

                            <div class="card-body">
                                <a href="{% url 'channel:playlist_play_view' playlist.id playlist.audios.first.id %}"
                                   class="audio-link"><h4 class="card-title audio-titul">{{playlist.nome}}</h4></a>
                                <div class="card-text">
                                    <p class="descript-thumb">{{chan.nome_canal}}</p>
                                    <p class="descript-thumb">
                                        <img src="/static/resources/icones/disc.ico" class="icon-view" rel="tooltip"
                                             data-toggle="tooltip" data-placement="bottom" title="Áudios"/>
                                        {{playlist.audios.count}}</p>
                                    <p class="descript-thumb last-update"><i class="fas fa-clock" rel="tooltip"
                                                                             data-toggle="tooltip" data-placement="bottom"
                                                                             title="Última atualização"></i>
                                        {{playlist.ultima_atualizacao|date:"d/m/y"}} às {{playlist.ultima_atualizacao|date:"H:i"}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 playlist">
                            <ul class="audio-list">
                               {% for audio in playlist.audios_apresentaveis %}
                                <li class="audio">
                                    <strong class="time">{{ audio.duracao }}</strong>
                                    <a href="{% url 'channel:playlist_play_view' playlist.id audio.id %}"
                                       class="titulo">{{audio.titulo}}</a>
                                </li>
                                {% endfor %}
                                <li class="playlist-more">
                                    <center><a href="{%url 'channel:playlist_all_view' playlist.id%}" class="btn playlist-link">Ver mais</a></center>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {%endfor%}
                </div> <!------marca---->
                {% else %}
                    <p><h5 class="ml-4"><strong>Esse canal não possui playlists.</strong></h5></p>
                {% endif %}

                <div class="no-search" id="no-search-pl">
                    <h5 class="ml-4"><strong>Nenhuma playlist com esse titúlo foi encontrada.</strong></h5>
                </div>
            </div>
        </div>
        <!--Fim de playlists-->

        <!--Sobre-->
        <div id="Sobre" class="tabcontent" style="display: none;">
            <div class="row about">
                {% if chan.descricao %}
                <div class="col-md-6 d-block">
                    <h2 class="headerChannel mb-4" style="margin-bottom: 1.25rem !important;">Descrição</h2>
                    <p class="descricao">
                        {{chan.descricao}}
                    </p>
                </div>
                {% endif %}

                <div class="col-md-6 d-block">
                    <h2 class="headerChannel mb-4 tags" style="margin-bottom: 1.25rem !important;">Tags mais usadas</h2>
                    <div class="row links">
                        {% for tag in tags_mais_usadas %}
                        <div class="col-6 link">
                            <a href="#">#{{tag}}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-6 mb-5 d-block">
                    <h2 class="headerChannel mb-4 mt-4" style="margin-bottom: 1.25rem !important;margin-top: 0 !important;">Estatísticas</h2>
                    <p class="descricao mb-3">Canal criado em {{chan.data_criacao}}</p>
                    <p class="descricao mb-3">
                        <img src="/static/images/default-user.png" alt="seguidores" style="width: 25px !important;filter: none;" class="icon seguidores">{{num_seguidores}}
                    </p>
                    <p class="descricao mb-3">
                        <!--Colocar o número de áudios do canal-->
                        <img src="/static/resources/icones/disc.ico" alt="número de áudios" class="icon">{{audios.count}}
                    </p>
                    <p class="descricao mb-3">
                        <img src="/static/resources/icones/view.png" alt="reproduções" class="icon">{{reproducoes_tot}}
                    </p>
                    <p class="descricao mb-3">
                        <img src="/static/resources/icones/like.png" alt="gostaram" style="bottom: 3px;" class="icon">{{likes}}
                    </p>
                    <p class="descricao">
                        <img src="/static/resources/icones/dislike.png" alt="não gostaram" class="icon">{{deslikes}}
                    </p>
                </div>
            </div>
        </div>
        <!--Fim de sobre-->
    </div>
{% endblock %}
