{% extends 'base_m_rs.html' %}

{% load static %}

{% block head %}
    <title>Editar {{chan.nome_canal}} - VoxStation</title>
    <link rel="stylesheet" href="{% static 'channel/edit_channel.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_inicio.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_playlists.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_new_channel.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_about.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css"/>
    <script src="{% static 'channel/js/edit_channel.js' %}"></script>
    <script src="{%static 'channel/js/social_add.js' %}"></script>
    <script src="{%static 'channel/js/ordena.js' %}"></script>
    <script src="{%static 'channel/js/ordenaPlay.js' %}"></script>
    <script src="{%static 'channel/js/submit_channel_data.js' %}"></script>
{% endblock %}

{% block body %}

    <div class="capa" style="background-image: url({{chan.capa.url}});">
        <label for="audio" class="edit_audio_fundo edit-capa-top"
               data-toggle="tooltip" data-placement="bottom" title="Nome do áudio de fundo">
            <i class="fas fa-volume-up"></i>
        </label>
        <form  enctype="multipart/form-data" method="post" id="formulario_audio" style="display:none;" action="{%url 'channel:change_back_view' chan.id%}">
            {% csrf_token %}
            <input required="" id="audio" name="{{audio_form.audio_fundo.name}}" type="file" accept="audio/*" >
        </form>
        <span data-toggle="modal" data-target="#editCapa">
            <a href="#" class="edit_audio_fundo edit-capa-top" rel="tooltip" style="float: left;" data-toggle="tooltip" data-placement="bottom" title="Capa do seu canal">
                <i class="fas fa-pen" style="color: white;"></i>
            </a>
        </span><!--Editar o fundo-->
        <center>
            <figure class="fig-foto">
                <label for="foto">
                    <figure class="fig-fade">
                        <img src="{{chan.foto_canal.url}}" id="foto_canal" alt="foto do canal" class="foto"/>
                        <figcaption>
                            <img class="camera" src="/static/images/camera.png" alt="editar foto do canal">
                        </figcaption>
                    </figure>
                </label>
                <form id="formulario_foto" style="display:none;" enctype="multipart/form-data" action="{% url 'channel:change_photo_view' chan.id %}" method="POST" >
                    {% csrf_token %}
                    <input required="" type="file" name="{{foto_form.foto_canal.name}}" id="foto" accept="image/*" >
                </form>
            </figure>

            <h2 class="nome_canal d-inline-block" id="nome_canal">{{chan.nome_canal}}</h2>

            <h6 id="num_seg" class="nome_canal">
                <img src="/static/images/default-user-white.png" alt="seguidores" class="icon seguidores"
                     data-toggle="tooltip" data-placement="left" title="Seguidores">
                {{num_seguidores}}
            </h6>
        </center>

        <span data-toggle="modal" data-target="#editInfo">
            <a href="#" id="edit_info" class="edit-capa-bottom" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Outras informações">
                <i class="fas fa-info"></i>
            </a>
        </span>
        <!--Editar nome do canal, descrição e links-->
        <span data-toggle="modal" data-target="#editRedesSociais">
            <a href="#" id="redes-sociais" class="edit-capa-bottom" rel="tooltip" data-toggle="tooltip" data-placement="top" title="Suas redes sociais">
                <img src="/static/resources/icones/social.png" alt="edite suas redes sociais" class="social">
            </a>
        </span>

    </div>
    <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Audios')">Áudios</button>
        <button class="tablinks" onclick="openTab(event, 'Playlists')">Playlists</button>
    </div>

    <div id="Audios" class="tabcontent" style="display: block;">
        <h2 class="headerChannel">Mais recentes
            <div class="dropdown filter">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                <div class="dropdown-menu filter" id="caminho" identifier="{%url 'channel:ordena_audio_view' chan.id%}" aria-labelledby="dropdownFilter">
                    <a class="dropdown-item filter op" val="recentes" href="#">Mais recentes</a>
                    <a class="dropdown-item filter op" val="antigos" href="#">Mais antigos</a>
                    <a class="dropdown-item filter op" val="populares" href="#">Mais populares</a>
                    <a class="dropdown-item filter " val="recentes" href="#">Mais curtos</a>
                    <a class="dropdown-item filter " val="recentes" href="#">Mais longos</a>
                </div>
                </a>
            </div>
        </h2>
         <div class="audioBox">
            <form class="form-search" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input class="form-control" type="search" placeholder="Pesquisar" style="margin-top: 2rem;">
                <button class="btn btn-search" type="submit">
                    <img class="search-icon" src="/static/resources/icones/search.ico" alt="Pesquisar" id="search">
                </button>
            </form>

                <div class="row mt-4 audios" id="container_audios">
                    {%for audio in audios%}
                    <div class="col-md-3 mb-4">
                        <div class="card">
                            <figure class="fig-capa-audio">
                                <a href="#"><img src="{{audio.capa.url}}" class="card-img-top" alt="imagem do áudio"></a>
                                <figcaption class="fc-capa-audio">
                                    <center>
                                        <a href="#"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                        <div class="dropdown more">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="/static/resources/icones/more.png" class="icon-more"/>
                                            <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                <a class="dropdown-item" href="#">Compartilhar</a>
                                                <a class="dropdown-item" href="#">Editar</a>
                                                <a class="dropdown-item" href="#">Remover</a>
                                            </div>
                                            </a>
                                        </div>
                                    </center>
                                </figcaption>
                            </figure>

                            <div class="card-body">
                                <a href="#" class="audio-link"><h4 class="card-title audio-titul">{{audio.titulo}}</h4></a>
                                <div class="card-text">
                                    <p class="descript-thumb">{{chan.nome_canal}}</p>
                                    <p class="descript-thumb">
                                        <img src="/static/resources/icones/view.png" class="icon-view"/>
                                        {{audio.reproducoes}}</p>
                                    <p class="descript-thumb">
                                        {{audio.data_publicacao|date:"d/m/y"}} às {{audio.data_publicacao|date:"H:i"}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                    <!--
                    <p class="text text-center">Nenhum áudio que possui esse título foi encontrado</p>-->
                    </div>
                </div>
    </div>
    <div id="Playlists" class="tabcontent" style="display: none;">
        <h2 class="headerChannel">Playlists
            <div class="dropdown filter">
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-filter"></i>
                <div class="dropdown-menu filter" id="caminhoPlay" identifier="{%url 'channel:ordena_play_view' chan.id%}" aria-labelledby="dropdownFilter">
                    <a class="dropdown-item filter opPlay" val="recentes" href="#">Mais recentes</a>
                    <a class="dropdown-item filter opPlay" val="antigos" href="#">Mais antigos</a>
                    <a class="dropdown-item filter " href="#">Mais populares</a>
                    <a class="dropdown-item filter opPlay" val="mais audios" href="#">Mais áudios</a>
                    <a class="dropdown-item filter opPlay" val="menos audios"href="#">Menos áudios</a>
                </div>
                </a>
            </div>
        </h2>

        <div class="audioBox">
            <form class="form-search" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input class="form-control" type="search" placeholder="Pesquisar" style="margin-top: 2rem;">
                <button class="btn btn-search" type="submit">
                    <img class="search-icon" src="/static/resources/icones/search.ico" alt="Pesquisar" id="search-playlist">
                </button>
            </form>

            <div class="row mt-4 " id="container_plays">
                {%for playlist in playlists%}
                <div class="col-md-6">
                    <div class="card">
                        <figure class="fig-capa-audio">
                            <a href="#"><img src="{{playlist.capa.url}}" class="card-img-top" alt=""></a>
                            <figcaption class="fc-capa-audio">
                                <center>
                                    <a href="#"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                    <div class="dropdown more">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="/static/resources/icones/more.png" class="icon-more"/>
                                        <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                            <a class="dropdown-item" href="#">Editar</a>
                                            <a class="dropdown-item" href="#">Excluir</a>
                                            <a class="dropdown-item" href="#">Compartilhar</a>
                                        </div>
                                        </a>
                                    </div>
                                </center>
                            </figcaption>
                        </figure>

                        <div class="card-body">
                            <a href="#" class="audio-link"><h4 class="card-title audio-titul">{{playlist.nome}}</h4></a>
                            <div class="card-text">
                                <p class="descript-thumb">{{chan.nome_canal}}</p>
                                <p class="descript-thumb">
                                    <img src="/static/resources/icones/disc.ico" class="icon-view"/>
                                    {{playlist.numero_de_audios}}</p>
                                <p class="descript-thumb last-update">
                                    {{playlist.ultima_atualizacao|date:"d/m/y"}} às {{playlist.ultima_atualizacao|date:"H:i"}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 playlist">
                        <ul class="audio-list">
                            {% for audio in playlist.audios_apresentaveis%}
                            <li class="audio">
                                <strong class="time">3:40</strong>
                                <a href="#" class="titulo">
                                    <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>{{audio.titulo}}</a>
                            </li>
                            {%endfor%}
                            <li class="playlist-more">
                                <center><a href="{%url 'channel:playlist_all_view' playlist.id%}" class="btn playlist-link">Ver mais</a></center>
                            </li>
                        </ul>
                    </div>
                </div>
                {%endfor%}
                {% if not playlists %}
                    <p><h5 class="ml-4"><strong>Esse canal não possui playlists.</strong></h5></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
