{% extends 'base2.html' %}

{% load static %}
{% load i18n %}

{% block head %}
    <title>Envie o seu áudio no Vox Station</title>
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'account/style_new_channel.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'channel/style_myuploads.css' %}">
    <script src="{% static 'channel/js/capa_script.js' %}"></script>
    <script src="{% static 'resources/JQuery/jquery.form.js' %}"></script>
    <script src="{% static 'channel/js/upload.js' %}"></script>
    <script src="{% static 'channel/js/search_tag_upload.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="myUploadsBox">
        <h2 class="header">Envie seu áudio</h2>
        <form method="post" id="form-up" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="content">
                {% if error_capa %}
                <h6 class="error" style="margin-bottom: 2px;margin-left: .5rem;" id="error_capa">Selecione uma imagem</h6>
                {% endif %}
                <!--Tumbnail do áudio-->
                <figure class="fig-thumb">
                    <label for="id_capa" style="width: 100%;height: 100%;">
                        <figure class="fig-fade">
                            {% if not capa %}
                                <img src="{% static 'images/background-banner.jpg' %}" id="foto-default" alt="">
                            {% else %}
                                <img src="{{ capa }}" id="foto-default" alt="">
                            {% endif %}
                            <figcaption class="icon" id="icon">
                                <img src="{% static 'images/camera.png' %}" class="camera" alt="">
                            </figcaption>
                        </figure>
                    </label>
                    <input type="file" name="{{ form.capa.name }}" id="{{ form.capa.id_for_label }}" accept="image/*">
                </figure>

                <div class="content-right">
                    <!--Canal proprietário-->
                    <span class="myspan">
                        Canal proprietário
                        <label for="id_canal_proprietario" class="d-block">
                            <select class="select-channel" name="{{form.canal_proprietario.name}}" id="{{form.canal_proprietario.id_for_label}}">
                                {%for channel in channels%}
                                <option value="{{channel.id}}">{{channel.nome_canal}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </span><br>

                    <!--Áudio a ser enviado-->
                    <label for="id_audio" class="btn btn-save b-linear audio">
                        Selecione seu áudio
                        <input type="file" class="btn btn-primary" name="{{ form.audio.name }}" id="{{ form.audio.id_for_label }}" accept="audio/*">
                    </label><br>
                    <h6 id="nameAudio" class="error">{% if error_audio %}Selecione um áudio{% endif %}</h6>
                </div>

                <!--Visibilidade-->
                <span class="myspan d-block">
                    Visibilidade
                    <label for="id_visibilidade" class="d-block">
                        <select style="max-width: 8rem;" class="select-channel" name="{{form.visibilidade.name}}" id="{{form.visibilidade.id_for_label}}">
                            <option value="publico">Público</option>
                            <option value="privado">Privado</option>
                        </select>
                    </label>
                </span><br>

                <!--Titúlo do áudio-->
                {% if not titulo %}
                <label class="has-float-label" style="margin-top: -.5rem;">
                    <input type="text" name="{{ form.titulo.name }}" id="{{ form.titulo.id_for_label }}" required=""
                           placeholder="Título" class="form_audio" maxlength="50">
                    <span>Título</span>
                </label>
                {% else %}
                <label class="has-float-label" style="margin-top: -.5rem;">
                    <input type="text" name="{{ form.titulo.name }}" id="{{ form.titulo.id_for_label }}" required=""
                           placeholder="Título" class="form_audio" value="{{ titulo }}">
                    <span>Título</span>
                </label>
                {% endif %}

                <!--Descrição do áudio-->
                {% if not descricao %}
                <label for="id_descricao" class="has-float-label">
                    <textarea maxlength="500" name="{{ form.descricao.name }}" id="{{ form.descricao.id_for_label }}" placeholder="Descrição" rows="5"></textarea>
                    <span>Descrição</span>
                </label>
                {% else %}
                <label for="id_descricao" class="has-float-label">
                    <textarea maxlength="500" name="{{ form.descricao.name }}" id="{{ form.descricao.id_for_label }}"
                              placeholder="Descrição" rows="5">{{ descricao }}</textarea>
                    <span>Descrição</span>
                </label>
                {% endif %}

                <!--Tags do áudio-->
                {% if not tags %}
                <label for="id_text" class="has-float-label" style="margin-bottom: 5px;">
                    <textarea name="{{ tagform.text.name }}" id="{{ tagform.text.id_for_label }}" placeholder="Tags"
                              required="" rows="3"></textarea>
                    <span>Tags</span>
                </label>
                {% else %}
                <label for="id_text" class="has-float-label" style="margin-bottom: 5px;">
                    <textarea name="{{ tagform.text.name }}" id="{{ tagform.text.id_for_label }}" placeholder="Tags"
                              required="" rows="3">{{ tags }}</textarea>
                    <span>Tags</span>
                </label>
                {% endif %}
                <ul class="tag-searched" id="tag-searched"></ul> <!--Lista as tags encontradas-->
                <h6 class="error" id="error-tag" {% if not error_tag %} style="display:none;" {% endif %}>As tags devem começar com #</h6>
                <h6 style="margin-bottom: 25px;">As tags irão facilitar que seu áudio seja encontrado. Ex: #Pop #Rock, etc.</h6>

                <div class="progress mt-3 mb-3" style="height:30px">
                    <div class="progress-bar progress-bar-striped" role="progressbar" id="progressBar" style="width: % ;height:30px" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="buttons">
                    <a class="btn btn-default btn-cancel" href="{% url 'home:index' %}">
                        <strong class="mystrong">{% trans 'Cancelar' %}</strong>
                    </a>
                    <button type="submit" class="btn btn-save b-linear">Enviar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
