{% extends 'base2.html' %}

{% load static %}
{% load i18n %}

{% block head %}
    <title>Envie o seu áudio no Vox Station</title>
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'account/style_new_channel.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'channel/style_myuploads.css' %}">
    <script src="{% static 'channel/js/capa_script.js' %}"></script>
    <script src="{% static 'resources/JQuery/jquery.form.js' %}"></script>
    <script src="{% static 'channel/js/upload.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="myUploadsBox">
        <form method="post" id="form-up" enctype="multipart/form-data" >
            {% csrf_token %}
            {% if erro == True %}
                <div id="alert-error" class="alert alert-danger alert-dismissible mb-2 mt-2 mr-5 ml-0" role="alert">
                    Erro de Validação, para que o formulário seja valido preencha todos os campos presentes incluindo foto de capa e o audio em questão !!!!!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            <div class="content">
                <h2>Envie seu áudio</h2>

                <!--Tumbnail do áudio-->
                <figure class="fig-thumb mr-5">
                    <label for="id_capa">
                        <figure class="fig-fade">
                            <img src="{% static 'images/default-user.png' %}" id="foto-default" alt="">
                            <figcaption class="icon" id="icon">
                                <img src="{% static 'images/camera.png' %}" class="camera" alt="">
                            </figcaption>
                        </figure>
                    </label>
                    <input type="file" name="{{ form.capa.name }}" id="{{ form.capa.id_for_label }}" accept="image/*">
                </figure>

                <!--Áudio a ser enviado-->
                <label for="id_audio" class="btn btn-save audio">
                    Selecione seu áudio
                    <input type="file" class="btn btn-primary" name="{{ form.audio.name }}" id="{{ form.audio.id_for_label }}" accept="audio/*">
                </label>
                <br>

                    <span class="myspan">
                        Canal proprietário
                        <label for="id_canal_proprietario">
                            <select class="select-channel" name="{{form.canal_proprietario.name}}" id="{{form.canal_proprietario.id_for_label}}">
                                {%for channel in channels%}
                                <option value="{{channel.id}}">{{channel.nome_canal}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </span>

                <!--Titúlo do áudio-->
                <label class="has-float-label">
                    <input type="text" name="{{ form.titulo.name }}" id="{{ form.titulo.id_for_label }}" placeholder="titulo" class="form_audio">
                    <span>Título</span>
                </label>

                <!--Descrição do áudio-->
                <label for="id_descricao" class="has-float-label">
                    <textarea name="{{ form.descricao.name }}" id="{{ form.descricao.id_for_label }}" placeholder="Descrição" rows="5"></textarea>
                    <span>Descrição</span>
                </label>

                <label for="id_text" class="has-float-label">
                    <textarea name="{{ tagform.text.name }}" id="{{ tagform.text.id_for_label }}" placeholder="Tags" rows="4"></textarea>
                    <span>Tags</span>
                </label>
                <div class="progress mt-3 mb-3" style="height:30px">
                    <div class="progress-bar progress-bar-striped" role="progressbar" id="progressBar" style="width: % ;height:30px" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="buttons">
                    <a class="btn btn-default btn-cancel" href="{% url 'home:index' %}">
                        <strong class="mystrong">{% trans 'Cancelar' %}</strong>
                    </a>
                    <button type="submit" class="btn btn-save">Enviar áudio</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
