{% extends 'base2.html' %}

{% load static %}

{% block head %}
    <title>{{ playlist.nome }} - VoxStation</title>
    <link rel="stylesheet" href="{% static 'channel/style_player.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'channel/style_playlist_play.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'channel/edit_channel.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_relacionados.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'channel/style_channel_inicio.css' %}">
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css"/>
    <script src="{% static 'channel/js/player.js' %}" type="text/javascript"></script>
    <script src="{% static 'channel/js/comentar.js' %}" type="text/javascript"></script>
    <script src="{% static 'channel/js/responder.js' %}" type="text/javascript"></script>
    <script src="{% static 'channel/js/playlist-play.js' %}" type="text/javascript"></script>
    <script src="{% static 'channel/js/randomize.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center playerBox">
            <!--Botões da esquerda-->
            <div class="col-4 buttons">
                <a href="#"><i class="fas fa-flag"></i></a><br>
                <a href="{% url 'channel:playlist_play_view' playlist.id anterior %}">
                    <i class="fas fa-step-backward"></i>
                </a><br>
                <a data-toggle="modal" data-target="#addPlaylist">
                    <img src="/static/resources/icones/playlist_add_white.png" alt="adicionar a playlist" class="icon">
                </a>
            </div>

            <!--Parte do player-->
            <div class="col-4 player" onmouseover="showFooter()" onmouseleave="hideFooter()">
                <div class="header" id="header">
                    <div class="info-audio" id="infoAudio" style="transition: transform .5s;">
                        <h5>{{ audio.titulo }}</h5>
                        <h6><img src="/static/resources/icones/view_white.png" alt="{{audio.reproducoes}} de reproduções" class="icon-view">{{audio.reproducoes}}</h6>
                    </div>
                    <div class="playlist-audios" id="playlistAudios">
                        <div class="nome-playlist">
                            <a href="{% url 'channel:playlist_all_view' playlist.id %}">
                                <img src="{{ playlist.capa.url }}" class="capa-pl-play d-inline" alt="capa da playlist {{ playlist.nome }}">
                                <h5 class="d-inline">{{ playlist.nome }}</h5>
                            </a>
                            <a onclick="hideAudiosPl()" id="hideAudiosPl"><i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                        {% for aud in playlist.audios.all %}
                            {% if aud == audio %} <!--Áudio reproduzindo no momento-->
                                <a href="{% url 'channel:playlist_play_view' playlist.id aud.id %}">
                                    <h6 class="audio-playlist playing">
                                        <img src="/static/resources/icones/play.png" alt="reproduzindo" class="icon-pl-audio">
                                        {{aud.titulo}}
                                    </h6>
                                </a>
                            {% else %}
                            <a href="{% url 'channel:playlist_play_view' playlist.id aud.id %}">
                                <h6 class="audio-playlist">{{forloop.counter}}. {{aud.titulo}}</h6>
                                <!--<h6 class="duracao-audio" id="duracao"></h6>-->
                            </a>
                            {% endif %}
                        {% endfor %}
                        <br>
                    </div>
                </div>

                <!--Mostrar áudios da playlist-->
                <a onclick="showAudiosPl()" id="showAudiosPl">
                    <i class="fas fa-list-ul show-playlist" id="showAudiosPlIcon"></i>
                </a>

                <!--Esconder o header-->
                <a onclick="hideHeader()"><i class="fas fa-angle-up show-hide" id="hideHeader"></i></a>

                <!--Exibir o header-->
                <a onclick="showHeader()"><i class="fas fa-angle-down show-hide" id="showHeader"></i></a>

                <!--Colocar o nome do áudio no lugar de 'áudio' no alt-->
                <img src="{{audio.capa.url}}" alt="capa de {{ audio.titulo }}" class="thumb-audio">

                <div class="footer" id="footer">
                    <audio id="audio-player" src="{{audio.audio.url}}" controls="controls"></audio>
                </div>
            </div>

            <!--Botões da direita-->
            <div class="col-4 buttons" style="border-radius: 0 4px 4px 0;">
                <a onclick="randomAudios()"><i id="offRandom" class="fas fa-random"></i></a>
                <a onclick="offRandomAudios()"><i id="random" class="fas fa-random active-icon" style="display: none;"></i></a><br>
                <a href="{% url 'channel:playlist_play_view' playlist.id proximo %}" id="proximo">
                    <i class="fas fa-step-forward"></i>
                </a><br>

                <img id="autoplayOff" style="display:none;" src="/static/resources/icones/autoplay.png" alt="reprodução automática desligada" class="icon autoplay">
                <img id="autoplay" style="filter: drop-shadow(0px 0px 6px white);" src="/static/resources/icones/autoplay.png" alt="reprodução automática desligada" class="icon autoplay">

                <form method="POST" action="{% url 'channel:randomize_view' audio.id playlist.id proximo %}" class="d-none" id="randomizeForm">{% csrf_token %}
                    <input type="hidden" id="randomize">
                </form>
            </div>
        </div>

        <div class="channelBox">
            <!--Informações do canal-->
            <a href="{% url 'channel:channel_view' canal_proprietario.id %}">
                <img src="{{canal_proprietario.foto_canal.url}}" alt="foto do canal {{canal_proprietario.nome_canal}}" class="img_channel">
                <div class="nome_channel_play"><strong>{{canal_proprietario.nome_canal}}</strong></div>
            </a>

            <!--Botão de sintonizar-->
            <div class="sintonizar">
                <a href="#" class="btn-sintonizar">Sintonizar</a>
            </div>

            <!--Feedback-->
            <div class="feedbackBox">
                {% if audio.numero_likes %}
                <a href="#"><img src="/static/resources/icones/like.png" alt="gostei" class="icon feedback"></a>{{audio.numero_likes}}
                {% else %}
                <a href="#"><img src="/static/resources/icones/like.png" alt="gostei" class="icon feedback"></a>
                {% endif %}
                <br>
                {% if audio.numero_deslikes %}
                <div class="mt-2">
                    <a href="#"><img src="/static/resources/icones/dislike.png" alt="não gostei" class="icon feedback"></a>{{audio.numero_deslikes}}
                </div>
                {% else %}
                <div class="mt-2">
                    <a href="#"><img src="/static/resources/icones/dislike.png" alt="não gostei" class="icon feedback"></a>
                </div>
                {% endif %}
            </div>
            <div class="descricao" id="descBox">
                <p id="descricao">
                    <h5 style="font-size: .9rem;">
                        <i class="fas fa-clock mr-1 date_audio_play"></i>
                        Publicado em {{audio.data_publicacao|date:"d/m/y"}} às {{audio.data_publicacao|date:"H:i"}}</h5>
                    {{ audio.descricao }}
                </p>

                <p id="tags" style="margin-top: 1rem;">
                    <strong>Tags</strong>
                    <div class="mt-2">
                        {%if audio.tag.all%}
                                {% for tag in audio.tag.all %}
                                    <a href="#" class="tag">#{{tag.nome}}</a>
                                {% endfor %}
                        {% endif %}
                    </div>
                </p>
            </div>
            <a onclick="showDescription()"><i class="fas fa-angle-down icon-desc" id="showDescription"></i></a>
            <a onclick="hideDescription()">
                <i class="fas fa-angle-up icon-desc" id="hideDescription" style="margin-left: -1.2rem;visibility: hidden;"></i>
            </a>
        </div>

        <div id="carouselSlider-1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        {% for audio in playlist1 %}
                        <div class="col-md-2 mb-3">
                            <div class="card">
                                <figure class="fig-capa-audio">
                                    <img src="{{audio.capa.url}}" class="card-img-top" alt="{{audio.titulo}}">
                                    <figcaption class="fc-capa-audio">
                                        <center>
                                            <a href="{% url 'channel:player_view' audio.id %}">
                                                <img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                            <div class="dropdown more">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                    <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                    <a class="dropdown-item" href="#">Reproduzir depois</a>
                                                    <a class="dropdown-item" href="#">Compartilhar</a>
                                                    <a class="dropdown-item" href="#">Denunciar</a>
                                                </div>
                                                </a>
                                            </div>
                                        </center>
                                    </figcaption>
                                </figure>

                                <div class="card-body">
                                    <a href="{% url 'channel:player_view' audio.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audio.titulo}}</h4></a>
                                    <div class="card-text">
                                        <p class="descript-thumb">{{audio.canal_proprietario}}</p>
                                        <p class="descript-thumb">
                                            <!--Número de reproduções-->
                                            <img src="/static/resources/icones/view.png" class="icon-view"/>{{audio.reproducoes}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        {% for audio in playlist2 %}
                        <div class="col-md-2 mb-3">
                            <div class="card">
                                <figure class="fig-capa-audio">
                                    <img src="{{audio.capa.url}}" class="card-img-top" alt="{{audio.titulo}}">
                                    <figcaption class="fc-capa-audio">
                                        <center>
                                            <a href="{% url 'channel:player_view' audio.id %}">
                                                <img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                            <div class="dropdown more">
                                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="/static/resources/icones/more.png" class="icon-more"/>
                                                <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                    <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                    <a class="dropdown-item" href="#">Reproduzir depois</a>
                                                    <a class="dropdown-item" href="#">Compartilhar</a>
                                                    <a class="dropdown-item" href="#">Denunciar</a>
                                                </div>
                                                </a>
                                            </div>
                                        </center>
                                    </figcaption>
                                </figure>

                                <div class="card-body">
                                    <a href="{% url 'channel:player_view' audio.id %}" class="audio-link"><h4 class="card-title audio-titul">{{audio.titulo}}</h4></a>
                                    <div class="card-text">
                                        <p class="descript-thumb">{{audio.canal_proprietario}}</p>
                                        <p class="descript-thumb">
                                            <!--Número de reproduções-->
                                            <img src="/static/resources/icones/view.png" class="icon-view"/>{{audio.reproducoes}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <a href="#carouselSlider-1" class="carousel-control-prev" role="button" data-slide="prev">
                <img src="/static/resources/icones/prev.png" class="slideIcos" alt="">
            </a>
            <a href="#carouselSlider-1" class="carousel-control-next" role="button" data-slide="next">
                <img src="/static/resources/icones/next.png" class="slideIcos" alt="">
            </a>
        </div>

        {% if n_comentarios == 0 %}
            <h3 class="n-comment">Nenhum comentário</h3>
        {% endif %}
        {% if n_comentarios == 1 %}
            <h3 class="n-comment">{{ n_comentarios }} comentário</h3>
        {% endif %}
        {% if n_comentarios > 1 %}
            <h3 class="n-comment">{{ n_comentarios }} comentários
                <div class="dropdown filter">
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-filter" style="margin-bottom: 0;font-size: 1.2rem;"></i>
                    <div class="dropdown-menu filter" aria-labelledby="dropdownFilter">
                        <a class="dropdown-item filter" href="#">Mais relevantes</a>
                        <a class="dropdown-item filter" href="#">Mais antigos</a>
                        <a class="dropdown-item filter" href="#">Mais recentes</a>
                    </div>
                    </a>
                </div>
            </h3>
        {% endif %}
        <br><br>
        <!--Foto do usuário que vai comentar-->
        {% if not user.img_perfil %}
            <img class="img_channel ml-2" style="width: 2.5rem;height: 2.5rem;" alt="sua foto" src="/static/images/default-user.png"/>
        {% else %}
            <img class="img_channel ml-2" style="width: 2.5rem;height: 2.5rem;" alt="sua foto" src="{{ user.img_perfil.url }}"/>
        {% endif %}

        <form method="POST" id="comentarForm" action="{% url 'channel:comentar_view' audio.id %}">{% csrf_token %}
            <!--Parte do comentário do usuário logado-->
            <label class="has-float-label" id="lb_comentar">
                <textarea rows="1" name="{{ comentario_form.conteudo.name }}" id="{{ comentario_form.conteudo.id_for_label }}"
                          required="" placeholder="Comente algo..."></textarea>
                <span>Comente algo...</span>
            </label>

            <div class="buttons-comment mb-5" style="display:none;" id="comment">
                <button class="btn btn-publicar" type="submit" id="comentar">Publicar</button>
                <button class="btn btn-default btn-descartar" type="button" id="descartar" onclick="descartarAudio()">Descartar</button>
            </div>
        </form>

        {% for comentario in comentarios %}
        <!--Parte dos outros comentários (público)-->
        <div class="comments mt-3" id="comment-{{forloop.counter}}" onmouseover="showOpc(this.id)" onmouseleave="hideOpc(this.id)">
            <!--Imagem da pessoa que comentou-->
            <a href="#">
                {% if comentario.comentarista.img_perfil %}
                <img src="{{ comentario.comentarista.img_perfil.url }}" alt="{{ comentario.comentarista }}" class="img_other-user ml-2 mt-3">
                {% else %}
                <img src="/static/images/default-user.png" alt="{{ comentario.comentarista }}" class="img_other-user ml-2 mt-3">
                {% endif %}
                <h6 class="nome-comment">{{ comentario.comentarista }}</h6>
            </a>
            <h6 class="date-comment d-inline mr-3" style="font-size: .9rem;"><i class="fas fa-clock mr-1"></i>
                {{comentario.data|date:"d/m/y"}} às {{comentario.data|date:"H:i"}}</h6>

            <h6 class="comentario">
                {{ comentario.conteudo }}
            </h6>
            <div class="ml-5 d-inline feed-com">
                <a href="#">
                    <img src="/static/resources/icones/like.png" alt="gostei" style="width: 17px;height: 17px;" class="icon feedback ml-3 f-comment">
                </a>{{ comentario.likes }}
                <a href="#">
                    <img src="/static/resources/icones/dislike.png" alt="não gostei" style="width: 17px;height: 17px;" class="icon feedback ml-3 f-comment">
                </a>{{ comentario.deslikes }}
            </div>

            <!--Mostra o input de reponder-->
            <button onclick="showResponder(this.parentElement.id)" class="btn mr-3 responder">Responder</button>

            <!--Parte de responder-->
            <div class="resposta" style="margin-left: 3.2rem;">
                <!--Foto do usuário que vai responder-->
                {% if not user.img_perfil %}
                    <img class="img_channel ml-2" style="width: 2.3rem;height: 2.3rem;" alt="sua foto" src="/static/images/default-user.png"/>
                {% else %}
                    <img class="img_channel ml-2" style="width: 2.3rem;height: 2.3rem;" alt="sua foto" src="{{ user.img_perfil.url }}"/>
                {% endif %}
                <!--Formulário de responder-->
                <form method="POST" class="responderForm" id="responderForm" action="{% url 'channel:responder_view' audio.id comentario.id %}">{% csrf_token %}
                    <label class="has-float-label lb-resposta">
                        <textarea rows="1" name="{{ resposta_form.conteudo.name }}" required=""
                                  id="{{ resposta_form.conteudo.id_for_label }}" placeholder="Responda..."></textarea>
                        <span>Responda...</span>
                    </label>

                    <div class="buttons-comment" style="float: right;">
                        <button type="button" class="btn btn-default btn-descartar" onclick="closeResponder()" style="margin-right: .2rem;">Cancelar</button>
                        <button type="submit" class="btn btn-publicar btn-resp">Responder</button>
                    </div>
                </form>
            </div>

            {% if comentario.possui_resposta %}
            <a onclick="showRespostas(this.parentElement.id)">
                <h6 class="ver-respostas mt-3 ver"><i class="fas fa-share mr-1" style="cursor:pointer;font-size: 1rem;"></i>Ver {{comentario.possui_resposta}} respostas</h6>
            </a>
            <a onclick="hideRespostas(this.parentElement.id)">
                <h6 class="ver-respostas mt-3 esconder" style="color: #032854 !important;display: none;">
                    <i class="fas fa-share mr-1" style="cursor: pointer;color: #032854;font-size: 1rem;"></i>Esconder as respostas</h6>
            </a>
            {% endif %}

            <!--Aqui ficarão as respostas do comentário-->
            {% for resposta in respostas %}
                {% if resposta.comentario_em_questao == comentario %}
                <div class="comments mt-3 respostas" id="resposta-{{forloop.counter}}">
                    <!--Imagem da pessoa que respondeu-->
                    <a href="#">
                        {% if resposta.comentarista.img_perfil %}
                        <img src="{{ resposta.comentarista.img_perfil.url }}" alt="{{ resposta.comentarista }}" class="img_other-user ml-2 mt-3">
                        {% else %}
                        <img src="/static/images/default-user.png" alt="{{ resposta.comentarista }}" class="img_other-user ml-2 mt-3">
                        {% endif %}
                        <h6 class="nome-comment">{{ resposta.comentarista }}</h6>
                    </a>
                    <h6 class="date-comment d-inline mr-3" style="font-size: .9rem;"><i class="fas fa-clock mr-1"></i>
                    {{resposta.data|date:"d/m/y"}} às {{resposta.data|date:"H:i"}}
                    </h6>

                    <h6 class="comentario">{{ resposta.conteudo }}</h6>
                    <div class="ml-5 d-inline feed-com">
                        <a href="#">
                            <img src="/static/resources/icones/like.png" alt="gostei" style="width: 17px;height: 17px;" class="icon feedback ml-3 f-comment"></a>{{ resposta.likes }}
                        <a href="#">
                            <img src="/static/resources/icones/dislike.png" alt="não gostei" style="width: 17px;height: 17px;" class="icon feedback ml-3 f-comment">{{ resposta.deslikes }}
                        </a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}