{% extends 'base_channel.html' %}

{% load static %}

{% block head %}
    <title>Nome canal - VoxStation</title>
    <link rel="stylesheet" href="{% static 'channel/style_channel_inicio.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_playlists.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_uploads.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_new_channel.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row sections">
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:channel_view' chan.nome_canal %}" class="section" id="inicio">Início</a></center>
            </div>
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:uploads_view' chan.nome_canal %}" class="section" id="audios">Áudios</a></center>
            </div>
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:playlist_view' chan.nome_canal %}" class="section" id="playlists">Playlists</a></center>
            </div>
            <div class="col-6 col-sm-2 col-md-2 semelhantes">
                <center><a href="{% url 'channel:partner_view' chan.nome_canal %}" class="section" id="semelhantes">Semelhantes</a></center>
            </div>
            <div class="col-6 col-sm-2 col-md-2 sobre">
                <center><a href="{% url 'channel:about_view' chan.nome_canal %}" class="section" id="sobre">Sobre</a></center>
            </div>
        </div>
        <div class="audioBox">
            <form class="form-search">
                <input class="form-control" type="search" placeholder="Pesquisar">
                <button class="btn btn-search" type="submit">
                    <img class="search-icon" src="/static/resources/icones/search.ico" alt="Pesquisar" id="search">
                </button>
            </form>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="card">
                            <figure class="fig-capa-audio">
                                <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                                <figcaption class="fc-capa-audio">
                                    <center>
                                        <a href="#"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                        <div class="dropdown more">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="/static/resources/icones/more.png" class="icon-more"/>
                                            <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                <a class="dropdown-item" href="#">Reproduzir depois</a>
                                                <a class="dropdown-item" href="#">Compartilhar</a>
                                                <a class="dropdown-item" href="#">Denunciar</a>
                                            </div>
                                            </a>
                                        </div>
                                    </center>
                                </figcaption>
                            </figure>

                            <div class="card-body">
                                <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                                <div class="card-text">
                                    <p class="descript-thumb">Nome canal</p>
                                    <p class="descript-thumb">
                                        <img src="/static/resources/icones/disc.ico" class="icon-view"/>
                                        20</p>
                                    <p class="descript-thumb">Última atualização</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 playlist">
                            <ul class="audio-list">
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 1</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 2</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 3</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 4</a></li>
                                <li class="playlist-more">
                                    <center><a href="#" class="btn playlist-link">Ver mais</a></center>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <figure class="fig-capa-audio">
                                <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                                <figcaption class="fc-capa-audio">
                                    <center>
                                        <a href="#"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                        <div class="dropdown more">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="/static/resources/icones/more.png" class="icon-more"/>
                                            <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                <a class="dropdown-item" href="#">Reproduzir depois</a>
                                                <a class="dropdown-item" href="#">Compartilhar</a>
                                                <a class="dropdown-item" href="#">Denunciar</a>
                                            </div>
                                            </a>
                                        </div>
                                    </center>
                                </figcaption>
                            </figure>

                            <div class="card-body">
                                <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                                <div class="card-text">
                                    <p class="descript-thumb">Nome canal</p>
                                    <p class="descript-thumb">
                                        <img src="/static/resources/icones/disc.ico" class="icon-view"/>
                                        20</p>
                                    <p class="descript-thumb">Última atualização</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 playlist">
                            <ul class="audio-list">
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 1</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 2</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 3</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 4</a></li>
                                <li class="playlist-more">
                                    <center><a href="#" class="btn playlist-link">Ver mais</a></center>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <figure class="fig-capa-audio">
                                <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                                <figcaption class="fc-capa-audio">
                                    <center>
                                        <a href="#"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                        <div class="dropdown more">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="/static/resources/icones/more.png" class="icon-more"/>
                                            <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                <a class="dropdown-item" href="#">Reproduzir depois</a>
                                                <a class="dropdown-item" href="#">Compartilhar</a>
                                                <a class="dropdown-item" href="#">Denunciar</a>
                                            </div>
                                            </a>
                                        </div>
                                    </center>
                                </figcaption>
                            </figure>

                            <div class="card-body">
                                <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                                <div class="card-text">
                                    <p class="descript-thumb">Nome canal</p>
                                    <p class="descript-thumb">
                                        <img src="/static/resources/icones/disc.ico" class="icon-view"/>
                                        20</p>
                                    <p class="descript-thumb">Última atualização</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 playlist">
                            <ul class="audio-list">
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 1</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 2</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 3</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 4</a></li>
                                <li class="playlist-more">
                                    <center><a href="#" class="btn playlist-link">Ver mais</a></center>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <figure class="fig-capa-audio">
                                <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                                <figcaption class="fc-capa-audio">
                                    <center>
                                        <a href="#"><img src="/static/resources/icones/play.png" class="icon-play"/></a>
                                        <div class="dropdown more">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <img src="/static/resources/icones/more.png" class="icon-more"/>
                                            <div class="dropdown-menu more" aria-labelledby="dropdownMore">
                                                <a class="dropdown-item" href="#">Adicionar a playlist</a>
                                                <a class="dropdown-item" href="#">Reproduzir depois</a>
                                                <a class="dropdown-item" href="#">Compartilhar</a>
                                                <a class="dropdown-item" href="#">Denunciar</a>
                                            </div>
                                            </a>
                                        </div>
                                    </center>
                                </figcaption>
                            </figure>

                            <div class="card-body">
                                <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                                <div class="card-text">
                                    <p class="descript-thumb">Nome canal</p>
                                    <p class="descript-thumb">
                                        <img src="/static/resources/icones/disc.ico" class="icon-view"/>
                                        20</p>
                                    <p class="descript-thumb">Última atualização</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 playlist">
                            <ul class="audio-list">
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 1</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 2</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 3</a></li>
                                <li class="audio">
                                    <strong class="time">3:40</strong>
                                    <a href="#" class="titulo">
                                        <img src="/static/resources/icones/disc-white.png" class="thumb-audio"/>Nome do áudio 4</a></li>
                                <li class="playlist-more">
                                    <center><a href="#" class="btn playlist-link">Ver mais</a></center>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
