{% extends 'base2.html' %}

{% load static %}

{% block head %}
    <title>Playlist - VoxStation</title> <!--Colocar o nome da playlist-->
    <link rel="stylesheet" href="{% static 'channel/style_playlist_all.css' %}">
{% endblock %}

{% block body %}
    <div class="infoBox">
        <div class="info-playlist">
            <div class="icones">
                <span data-toggle="modal" data-target="#editCapaPlaylist">
                    <a href="#" class="mr-3" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Edite sua capa">
                        <i class="fas fa-camera" style="color: black;"></i>
                    </a> <!--Editar a capa da playlist-->
                </span>

                <span data-toggle="modal" data-target="#editPlaylist" style="display:none;">
                    <a href="#" class="mr-3" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Edite sua playlist">
                        <i class="fas fa-pen" style="color: black;"></i>
                    </a> <!--Editar o nome ou descrição da playlist(só alterar o display caso já exista uma descrição)-->
                </span>
                <a href="#" class="mr-3" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Salvar playlist">
                    <img src="/static/resources/icones/playlist_add.png" alt="salvar playlist" class="icon-playlist">
                </a> <!--Salvar playlist-->
                <!-- Aparecer esse icone caso o dono da playlist queira deletá-la
                <a href="#" class="mr-3"><img src="/static/resources/icones/playlist_delete.png" alt="excluir playlist" class="icon-playlist delete"></a>
                <!-- Aparecer esse icone caso o usuário visitante tenha salvo a playlist
                <a href="#" class="mr-3"><img src="/static/resources/icones/playlist_add_check.png" alt="remover playlist" class="icon-playlist"></a>-->

                <a href="#" class="mr-3" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Reproduzir aleatoriamente">
                    <img src="/static/resources/icones/random.png" alt="reproduzir aleatoriamente" class="icon-playlist">
                </a><!--Reproduzir aleatoriamente-->

                <a href="#" class="mr-3" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Compartilhar playlist">
                    <i class="fas fa-share" style="color: black; font-size: 18px;"></i>
                </a><!--Compartilhar playlist-->

                <!--Vincular a um canal-->
                <div class="dropdown vincular mr-3" id="vincular" style="margin: 5px .25rem;">
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-link" data-toggle="tooltip" data-placement="right"
                             title="Vincular a um canal"></i>
                    </a>
                    <ul class="dropdown-menu dm-vincular">
                        <li class="dropdown-item di-vincular"><input type="radio" name="canal">Nenhum</li>
                        <li class="dropdown-item di-vincular"><input type="radio" name="canal">Canal 1</li>
                        <li class="dropdown-item di-vincular"><input type="radio" name="canal">Canal 2</li>
                        <li class="divider"></li>
                        <li><a href="#" class="btn btn-sintonizar" id="salvarVinculo">Salvar</a></li>
                    </ul>
                </div>

                <div class="dropdown visibility mr-3" rel="tooltip" data-toggle="tooltip" data-placement="right"
                     title="Visibilidade da playlist" style="margin: 0 .25rem;"> <!--Visibilidade da playlist-->
                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/static/resources/icones/public.png" class="icon-visibility"/> <!--Playlist pública-->
                        <div class="dropdown-menu dm-visibility" aria-labelledby="dropdownVisibility">
                            <a class="dropdown-item di-visibility" href="#">
                                <img src="/static/resources/icones/private.png" class="icon-visibility"/> <!--Playlist privada-->
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <h3 style="word-break: break-all;">{{playlist.nome}}</h3>

            <img src="/static/resources/icones/view.png" alt="reproduções" class="icon-info">{{reproducoes_tot}}
            <img src="/static/resources/icones/disc.ico" alt="número de áudios" class="icon-info ml-4">{{playlist.audios.count}}
            <div class="tumblr_mf171khjgJ1rapbo1o1_500_large.png">Última atualização {{playlist.ultima_atualizacao}}</div>

            <!--Essa parte só deve aparecer caso o usuário não tenha dado uma descrição para a playlist-->
            <a data-toggle="modal" data-target="#editPlaylist" class="btn btn-sintonizar">Editar playlist</a>

            <!--Aparecer essa parte caso a playlist possua uma descrição
            <div class="mt-4">
                Descrição aqui!!
            </div>-->
        </div>
        {%if tem_capa%}
        <img src="{{playlist.capa.url}}" alt="capa da playlist" class="capa-playlist">
        {%else%}
        <img src="{{capa.url}}" alt="capa da playlist" class="capa-playlist">
        {%endif%}
        <a href="#"><img src="/static/resources/icones/play.png" alt="reproduzir" class="icon-play"></a>
        <div class="info-canal">
            <a href="{% url 'channel:channel_view' canal.nome_canal %}">
                <img src="/static/images/default-user.png" alt="foto do canal" class="rounded-circle ft-do-canal">
                <h5 class="nome-canal">{{canal.nome_canal}}</h5>
            </a>
            <a href="#" style="{{btn_color}}" url_="{%url 'channel:follow_general_view'%}" id={{canal.id}} class="btn-sintonizar">{{btn_message}}</a>
        </div>
    </div>

    <div class="audioBox mt-3">
        {%for audio in audios%}
        <div class="audio">
            <h5 class="numero-audio">{{forloop.counter}}</h5>
            <div class="card mb-3">
                <figure>
                    <a href="#"><img src="{{audio.capa.url}}" class="img-audio" alt="imagem do áudio"></a>
                    <figcaption>
                        <center>
                            <a href="#"><img src="/static/resources/icones/play.png" class="icon-play-audio"/></a>
                        </center>
                    </figcaption>
                </figure>
                <div class="card-body">
                    <h4 class="card-title"><a href="#" class="audio-link">{{audio.titulo}}</a></h4>
                    <div class="card-text">
                        <!--O áudio pode ser tanto do canal proprietário da playlist quanto de qualquer outro-->
                        <p class="d-inline mr-3">Nome do canal</p>
                        <p class="d-inline mr-3"><img src="/static/resources/icones/view_white.png" alt="reproduções" class="icon-info">{{audio.reproducoes}}</p>
                    </div>
                </div>
                <h5 class="tempo mr-3">3:20</h5>
            </div>
            {% endfor %}
        </div>
    </div> <!---marcador-->
{% endblock %}
