{% extends 'base2.html' %}

{% load static %}

{% block head %}
    <title>Playlist - VoxStation</title> <!--Colocar o nome da playlist-->
    <link rel="stylesheet" href="{% static 'channel/style_playlist_all.css' %}">
    <script src="{% static 'channel/js/playlist_all.js' %}"></script>
    <script src="{% static 'channel/js/play_edit.js' %}"></script>
    <script src="{% static 'channel/js/del_audio_pl.js' %}"></script>
    <script src="{% static 'channel/js/vincula_play.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="infoBox">
        <div class="info-playlist">
            <div class="icones">
                {%if direito_edicao %}
                <span data-toggle="modal" data-target="#editCapaPlaylist">
                    <a href="#" class="icon-pl" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Edite sua capa">
                        <i class="fas fa-camera" style="color: black;"></i>
                    </a> <!--Editar a capa da playlist-->
                </span>
                    {%if tem_desc%}
                    <span data-toggle="modal" id="play_pencil_edit" data-target="#editPlaylist" style="">
                        <a href="#" class="icon-pl" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Edite sua playlist">
                            <i class="fas fa-pen" style="color: black;"></i>
                        </a> <!--Editar o nome ou descrição da playlist(só alterar o display caso já exista uma descrição)-->
                    </span>
                    {%endif%}
                {%endif%}
                <a href="#" class="icon-pl" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Salvar playlist">
                    <img src="/static/resources/icones/playlist_add.png" alt="salvar playlist" class="icon-playlist">
                </a> <!--Salvar playlist-->
                <!-- Aparecer esse icone caso o dono da playlist queira deletá-la
                <a href="#" class="mr-3"><img src="/static/resources/icones/playlist_delete.png" alt="excluir playlist" class="icon-playlist delete"></a>
                <!-- Aparecer esse icone caso o usuário visitante tenha salvo a playlist
                <a href="#" class="mr-3"><img src="/static/resources/icones/playlist_add_check.png" alt="remover playlist" class="icon-playlist"></a>-->

                <a href="#" class="icon-pl" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Reproduzir aleatoriamente">
                    <img src="/static/resources/icones/random.png" alt="reproduzir aleatoriamente" class="icon-playlist random">
                </a><!--Reproduzir aleatoriamente-->

                <a href="#" class="icon-pl" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="Compartilhar playlist">
                    <i class="fas fa-share"></i>
                </a><!--Compartilhar playlist-->

                <!--Vincular a um canal-->
                {% if logado %}
                    {%if direito_edicao%}
                    <div class="dropdown vincular mr-3" id="vincular" style="margin: 5px .25rem;">
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-link" data-toggle="tooltip" data-placement="right"
                                 title="Vincular a um canal"></i>
                        </a>
                        {%if playlist.canal%}
                        <ul class="dropdown-menu dm-vincular" url_="{% url 'channel:vincula_view'%}" canal_="{{canal.nome_canal}}" id_={{playlist.id}}>
                            <li class="dropdown-item di-vincular"><input value="0nenhum" type="radio" name="canal">Nenhum</li>
                            {% for channel in channels %}
                            <li class="dropdown-item di-vincular"><input value="{{channel.nome_canal}}" type="radio" name="canal">{{channel.nome_canal}}</li>
                            {%endfor%}
                            <li class="divider"></li>
                            <li><a href="#" class="btn btn-editar" id="salvarVinculo">Salvar</a></li>
                        </ul>
                        {%else%}
                        <ul class="dropdown-menu dm-vincular" url_="{% url 'channel:vincula_view'%}" canal_="0nenhum" id_={{playlist.id}}>
                            <li class="dropdown-item di-vincular"><input value="0nenhum" type="radio" name="canal">Nenhum</li>
                            {% for channel in channels %}
                            <li class="dropdown-item di-vincular"><input value="{{channel.nome_canal}}" type="radio" name="canal">{{channel.nome_canal}}</li>
                            {%endfor%}
                            <li class="divider"></li>
                            <li><a href="#" class="btn btn-editar" id="salvarVinculo">Salvar</a></li>
                        </ul>
                        {%endif%}
                    </div>
                    <div class="dropdown visibility mr-3" rel="tooltip" data-toggle="tooltip" data-placement="right"
                         title="Visibilidade da playlist" style="margin: 0 .25rem;"> <!--Visibilidade da playlist-->
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/static/resources/icones/public.png" class="icon-visibility"/> <!--Playlist pública-->
                            <div class="dropdown-menu dm-visibility" aria-labelledby="dropdownVisibility">
                                <a class="dropdown-item di-visibility" href="#">
                                    <img src="/static/resources/icones/private.png" style="margin-top: 2px;" class="icon-visibility"/> <!--Playlist privada-->
                                </a>
                            </div>
                        </a>
                    </div>
                    {%endif%}
                {% endif %}
            </div>
            <br>
            <h3 style="word-break: break-all;" id="play_titul">{{playlist.nome}}</h3>

            <img src="/static/resources/icones/view.png" alt="reproduções" class="icon-info" rel="tooltip"
                 data-toggle="tooltip" data-placement="bottom" title="Reproduções">{{playlist.reproducoes}}

            <img src="/static/resources/icones/disc.ico" alt="número de áudios" class="icon-info ml-4" rel="tooltip"
                 data-toggle="tooltip" data-placement="bottom" title="Áudios">
            <div class="d-inline" id="num-audios">{{playlist.audios.count}}</div>

            <div class="mt-1">
                <i class="fas fa-clock" style="color: black;font-size: .85rem;" rel="tooltip" data-toggle="tooltip" data-placement="bottom"
                   title="Última atualização"></i>
                <div class="d-inline" id="last-update">{{playlist.ultima_atualizacao}}</div>
            </div>

            <!--Essa parte só deve aparecer caso o usuário não tenha dado uma descrição para a playlist-->
            {%if direito_edicao%}
            {%if not tem_desc%}
            <a data-toggle="modal" data-target="#editPlaylist" id="desc_edit" class="btn btn-editar">Editar playlist</a>
            {%endif%}
            {%endif%}
            {%if tem_desc%}
            <div class="mt-4" id="desc" style="display: none; word-break: break-word;">
                {{playlist.descricao}}
            </div>
            <center>
                <a onclick="showDescription()" id="showDescription" class="btn btn-add descButton">
                    <i class="fas fa-angle-down icon-desc" ></i>Mostrar descrição
                </a>
                <a onclick="hideDescription()" id="hideDescription" class="btn btn-add descButton" style="display: none;">
                    <i class="fas fa-angle-up icon-desc"></i>Esconder descrição
                </a>
            </center>
            {%endif%}
        </div>
        <img src="{{playlist.capa.url}}" alt="capa da playlist" class="capa-playlist">
        <a href="{% url 'channel:playlist_play_view' playlist.id id_audio.id %}">
            <div class="icon-play">
                <img src="/static/resources/icones/play.png" alt="reproduzir" >
            </div>
        </a>
        <div class="info-canal">
            {%if playlist.canal%}
            <a href="{% url 'channel:channel_view' canal.id %}">
                <img src="{{playlist.canal.foto_canal.url}}" alt="foto do canal" class="rounded-circle ft-do-canal">
                <h5 class="nome-canal">{{canal.nome_canal}}</h5>
            </a>
            <a href="#" style="{{btn_color}}" url_="{%url 'channel:follow_general_view'%}" id={{canal.id}} class="btn-sintonizar">{{btn_message}}</a>
            {%else%}
            <img src="{{playlist.proprietario.img_perfil.url}}" alt="foto do canal" class="rounded-circle ft-do-canal">
            <h5 class="nome-canal">{{playlist.proprietario.username}}</h5>
            {%endif%}
        </div>
    </div>

    <div class="audioBox mt-5" {% if audios.count == 1 %} style="padding-bottom: 5rem;" {% endif %}>
        {%for audio in audios%}
        <div class="audio" id="audio-{{forloop.counter}}"
             {%if direito_edicao%} onmouseover="showDelete(this.id)" onmouseleave="hideDelete(this.id)" {% endif %}>
            <h5 class="numero-audio">{{forloop.counter}}</h5>
            {%if direito_edicao%}
                <!--Parte de deletar um áudio da playlist-->
                <a class="delete" id="del-{{forloop.counter}}">
                    <i class="fas fa-trash-alt" style="color: white;cursor: pointer;"></i>
                </a>
                <form style="position: absolute;" method="POST" action="{% url 'channel:del_audio_pl_view' playlist.id audio.id %}"
                      id="delAudioForm-{{forloop.counter}}">{% csrf_token %}
                </form>
            {%endif%}
            <div class="card mb-3">
                <figure>
                    <img src="{{audio.capa.url}}" class="img-audio" alt="imagem do áudio">
                    <a href="{% url 'channel:playlist_play_view' playlist.id audio.id %}">
                        <figcaption>
                            <center>
                                <img src="/static/resources/icones/play.png" class="icon-play-audio"/>
                            </center>
                        </figcaption>
                    </a>
                </figure>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'channel:playlist_play_view' playlist.id audio.id %}" class="audio-link">
                            {{audio.titulo}}
                        </a></h4>
                    <div class="card-text">
                        <!--O áudio pode ser tanto do canal proprietário da playlist quanto de qualquer outro-->
                        <p class="d-inline mr-3">{{audio.canal_proprietario}}</p>
                        <p class="d-inline mr-3"><img src="/static/resources/icones/view_white.png" alt="reproduções" class="icon-info">{{audio.reproducoes}}</p>
                    </div>
                </div>
                <h5 class="tempo mr-3">{{audio.duracao}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
