{% extends 'base2.html' %}

{% load static %}

{% block head %}
    <title>Nome canal - VoxStation</title>
    <link rel="stylesheet" href="{% static 'channel/style_channel_inicio.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_uploads.css' %}">
    <link rel="stylesheet" href="{% static 'channel/style_channel_similar.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_edit_acc.css' %}">
    <link rel="stylesheet" href="{% static 'account/style_new_channel.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row sections">
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:channel_view' %}" class="section" id="inicio">Início</a></center>
            </div>
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:uploads_view' %}" class="section" id="audios">Áudios</a></center>
            </div>
            <div class="col-4 col-sm-2 col-md-2">
                <center><a href="{% url 'channel:playlist_view' %}" class="section" id="playlists">Playlists</a></center>
            </div>
            <div class="col-6 col-sm-2 col-md-2 semelhantes">
                <center><a href="{% url 'channel:similar_view' %}" class="section" id="semelhantes">Semelhantes</a></center>
            </div>
            <div class="col-6 col-sm-2 col-md-2 sobre">
                <center><a href="#" class="section" id="sobre">Sobre</a></center>
            </div>
        </div>
        <div class="audioBox">

            <div class="row mt-4">
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="card">
                        <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                        <div class="card-body">
                            <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                            <div class="card-text">
                                <p class="descript-thumb">
                                    <img src="/static/images/default-user.png" class="icon-view" alt="seguidores"/>1000
                                </p>
                                <p class="descript-thumb">
                                    <img src="/static/resources/icones/disc.ico" class="icon-view" alt="número de áudios"/>50
                                </p>
                                <br/>
                                <p class=" descript-thumb sintonizar">
                                    <a href="#" class="btn-sintonizar">Sintonizar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="card">
                        <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                        <div class="card-body">
                            <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                            <div class="card-text">
                                <p class="descript-thumb">
                                    <img src="/static/images/default-user.png" class="icon-view" alt="seguidores"/>1000
                                </p>
                                <p class="descript-thumb">
                                    <img src="/static/resources/icones/disc.ico" class="icon-view" alt="número de áudios"/>50
                                </p>
                                <br/>
                                <p class=" descript-thumb sintonizar">
                                    <a href="#" class="btn-sintonizar">Sintonizar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="card">
                        <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                        <div class="card-body">
                            <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                            <div class="card-text">
                                <p class="descript-thumb">
                                    <img src="/static/images/default-user.png" class="icon-view" alt="seguidores"/>1000
                                </p>
                                <p class="descript-thumb">
                                    <img src="/static/resources/icones/disc.ico" class="icon-view" alt="número de áudios"/>50
                                </p>
                                <br/>
                                <p class=" descript-thumb sintonizar">
                                    <a href="#" class="btn-sintonizar">Sintonizar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="card">
                        <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                        <div class="card-body">
                            <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                            <div class="card-text">
                                <p class="descript-thumb">
                                    <img src="/static/images/default-user.png" class="icon-view" alt="seguidores"/>1000
                                </p>
                                <p class="descript-thumb">
                                    <img src="/static/resources/icones/disc.ico" class="icon-view" alt="número de áudios"/>50
                                </p>
                                <br/>
                                <p class=" descript-thumb sintonizar">
                                    <a href="#" class="btn-sintonizar">Sintonizar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="card">
                        <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                        <div class="card-body">
                            <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                            <div class="card-text">
                                <p class="descript-thumb">
                                    <img src="/static/images/default-user.png" class="icon-view" alt="seguidores"/>1000
                                </p>
                                <p class="descript-thumb">
                                    <img src="/static/resources/icones/disc.ico" class="icon-view" alt="número de áudios"/>50
                                </p>
                                <br/>
                                <p class=" descript-thumb sintonizar">
                                    <a href="#" class="btn-sintonizar">Sintonizar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-xl-3">
                    <div class="card">
                        <a href="#"><img src="/static/images/tumb_audio.png" class="card-img-top" alt=""></a>
                        <div class="card-body">
                            <a href="#" class="audio-link"><h4 class="card-title audio-titul">Título</h4></a>
                            <div class="card-text">
                                <p class="descript-thumb">
                                    <img src="/static/images/default-user.png" class="icon-view" alt="seguidores"/>1000
                                </p>
                                <p class="descript-thumb">
                                    <img src="/static/resources/icones/disc.ico" class="icon-view" alt="número de áudios"/>50
                                </p>
                                <br/>
                                <p class=" descript-thumb sintonizar">
                                    <a href="#" class="btn-sintonizar">Sintonizar</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}