input[type="range"] {
    width: 90%;
    margin-left: 2.2rem;
    margin-top: .3rem;
    margin-bottom: 2px;
    -webkit-appearance: none;
    height: 4px;
    background: #828282;
    overflow: hidden;
    cursor: pointer;
}

input[type="range"]:focus {
    outline: 0;
}

input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    background: white;
    box-shadow: -250px 0 0 250px #032854;
}


@media only screen and (max-width: 475px) {
    input[type="range"] {
        width: 82%;
    }
}